@*<div class="function_recommend_box_wrap">
    <h3 class="function_recommend_title">おすすめの機能</h3>
    <ul class="function_recommend_box">
        <li class="function_recommend">
            <a href="/candidates">
                <img class="function_recommend_img" src="
                        ~/Content/img/function/function_small_candidates.jpg            " alt="求職者管理">
            </a>
            <a href="/candidates" class="function_recommend_title_sub">
                求職者管理
            </a>
        </li>
        <li class="function_recommend">
            <a href="/import">
                <img class="function_recommend_img" src="
                        ~/Content/img/function/function_small_import.jpg            " alt="インポート">
            </a>
            <a href="/import" class="function_recommend_title_sub">
                インポート
            </a>
        </li>
        <li class="function_recommend">
            <a href="/apply">
                <img class="function_recommend_img" src="
                        ~/Content/img/function/function_small_dashboard.jpg            " alt="進捗管理">
            </a>
            <a href="/apply" class="function_recommend_title_sub">
                進捗管理
            </a>
        </li>
    </ul>
</div>*@