<div class="function_menu_box_wrap_sp d-block d-sm-none">
    <div class="function_menu_box_title_basic_sp">基本機能</div>
    <a href="/candidates" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/candidate.png" alt="">
        <span class="function_menu_title_sp">
            求職者管理
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/company" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/company.png" alt="">
        <span class="function_menu_title_sp">
            会社情報管理
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/staff" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/company_staff.png" alt="">
        <span class="function_menu_title_sp">
            会社担当者管理
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/job" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/job.png" alt="">
        <span class="function_menu_title_sp">
            求人案件管理
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/apply" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/progress.png" alt="">
        <span class="function_menu_title_sp">
            進捗管理
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/matching" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/matching.png" alt="">
        <span class="function_menu_title_sp">
            マッチング
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/schedule" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/schedule.png" alt="">
        <span class="function_menu_title_sp">
            スケジュール
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/task" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/task.png" alt="">
        <span class="function_menu_title_sp">
            タスク管理
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/file" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/form.png" alt="">
        <span class="function_menu_title_sp">
            帳票出力
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/import" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/import.png" alt="">
        <span class="function_menu_title_sp">
            インポート
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/data" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/data.png" alt="">
        <span class="function_menu_title_sp">
            データ集計
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/sales" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/money.png" alt="">
        <span class="function_menu_title_sp">
            売上管理
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/invoice" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/invoice.png" alt="">
        <span class="function_menu_title_sp">
            請求書発行
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
</div>

<div class="function_menu_box_wrap_foot_sp d-block d-sm-none">
    <div class="function_menu_box_title_option_sp">オプション</div>
    <a href="/hp" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/pc.png" alt="">
        <span class="function_menu_title_sp">
            ホームページ連携
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/map" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/map.png" alt="">
        <span class="function_menu_title_sp">
            地図機能
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/sms" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/sms.png" alt="">
        <span class="function_menu_title_sp">
            SMS送信
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/fax" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/05/fax.png" alt="">
        <span class="function_menu_title_sp">
            FAX送信
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
    <a href="/line" class="function_menu_box_sp">
        <img class="function_menu_img_sp" src="~/Content/uploads/2018/06/line.png" alt="">
        <span class="function_menu_title_sp">
            LINE連携
        </span>
        <span class="function_menu_current_sp">&gt;</span>
    </a>
</div>