@using MySite.Resources;
@{ 
   Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="text-danger">
                    @UserWebResource.LB_OOPS
                </h1>
                <h2 class="text-danger">
                    @UserWebResource.LB_406_RESTRICTED_ACCESS
                </h2>
                <div class="error-details">
                    <h4>
                        @UserWebResource.LB_406_RESTRICTED_ACCESS_DES
                    </h4>
                </div>
                <div class="error-actions">
                    <a href="~/" class="btn btn-info">
                        <span class="glyphicon glyphicon-home"></span>
                        @UserWebResource.LB_HOME_PAGE
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
