APIs/ApiJobMarket/.vs/
Apps/JobMarket/MySite/App_Data/
Apps/JobMarket/MySite/bin/
Apps/JobMarket/MySite/obj/
APIs/ApiJobMarket/ApiJobMarket/App_Data/
APIs/ApiJobMarket/ApiJobMarket/bin/
APIs/ApiJobMarket/ApiJobMarket/obj/
APIs/ApiJobMarket/ApiJobMarket.DB.Sql/bin/
APIs/ApiJobMarket/ApiJobMarket.DB.Sql/obj/
APIs/ApiJobMarket/ApiJobMarket.DB.Sql.Entities/bin/
APIs/ApiJobMarket/ApiJobMarket.DB.Sql.Entities/obj/
APIs/SingleSignOn/SingleSignOn/App_Data/
APIs/SingleSignOn/SingleSignOn/.vs/
APIs/SingleSignOn/SingleSignOn/bin/
APIs/SingleSignOn/SingleSignOn/obj/
Apps/JobMarket-Agency/Manager/Manager.WebApp/bin/
Apps/JobMarket-Agency/Manager/Manager.WebApp/obj/
Apps/JobMarket-Agency/Manager/Manager.WebApp/obj/
Apps/JobMarket-Agency/Manager/Manager.WebApp/App_Data/
AdminBackend/Manager/Manager.WebApp/bin/
AdminBackend/Manager/Manager.WebApp/obj/
AdminBackend/Manager/Manager.WebApp/App_Data/
AdminBackend/Manager/.vs/Manager/v15/Server/sqlite3/db.lock
AdminBackend/Manager/.vs/Manager/v15/Server/sqlite3/storage.ide
AdminBackend/Manager/.vs/Manager/v15/Server/sqlite3/storage.ide-shm
AdminBackend/Manager/.vs/Manager/v15/Server/sqlite3/storage.ide-wal
AdminBackend/Manager/.vs/Manager/v16/Server/sqlite3/db.lock
AdminBackend/Manager/.vs/Manager/v16/Server/sqlite3/storage.ide
APIs/ApiJobMarket/.vs/ApiJobMarket/v15/Server/sqlite3/storage.ide-shm
APIs/ApiJobMarket/.vs/ApiJobMarket/v15/Server/sqlite3/storage.ide-shm
APIs/ApiJobMarket/.vs/ApiJobMarket/v15/Server/sqlite3/storage.ide
APIs/ApiJobMarket/.vs/ApiJobMarket/v15/Server/sqlite3/storage.ide-wal
*.ide
APIs/ApiJobMarket/.vs/ApiJobMarket/v15/Server/sqlite3/storage.ide
*.ide-wal
Apps/JobMarket/.vs/MySite/v15/Server/sqlite3/storage.ide-shm
Apps/JobMarket/.vs/MySite/v15/Server/sqlite3/storage.ide-wal
*.log
*.ide-shm
*.dll
*.pdb
APIs/ApiJobMarket/ApiJobMarket.ShareLibs/obj/Debug/ApiJobMarket.ShareLibs.csproj.FileListAbsolute.txt
AdminBackend/Manager/.vs/
Apps/JobMarket/.vs/
AdminBackend/Manager/Manager.SharedLib/bin/
AdminBackend/Manager/Manager.SharedLib/obj/
AdminBackend/Manager/MsSql.AspNet.Identity/bin/
AdminBackend/Manager/MsSql.AspNet.Identity/obj/
APIs/ApiJobMarket/ApiJobMarket.ShareLibs/obj/
Apps/JobMarket-Agency/Manager/Manager.SharedLib/obj/
Apps/JobMarket-Agency/Manager/.vs/
APIs/ApiJobMarket/ApiJobMarket.ShareLibs/bin/
APIs/ApiJobMarket/.vs/
Apps/JobMarket/MySite.ShareLibs/obj/
Apps/JobMarket-Document/MySite/obj/
Apps/JobMarket-Agency/Manager/MsSql.AspNet.Identity/obj/
APIs/ApiJobMarket/.vs/ApiJobMarket/v15/Server/sqlite3/storage.ide
Apps/MyCloud/MyCloud/App_Data/
Apps/MyCloud/MyCloud/bin/
Apps/MyCloud/MyCloud/obj/
Apps/MyCloud/MyCloud.ShareLib/bin/
Apps/MyCloud/MyCloud.ShareLib/obj/
*.cache
Apps/FileReading/FileReading/bin/
Apps/FileReading/FileReading/obj/
Apps/JobMarket-Agency/Manager/Manager.WebApp/Properties/PublishProfiles/FolderProfile.pubxml
Apps/JobMarket-Agency/Manager/.vs/Manager/v16/.suo
Apps/JobMarket-Document/.vs/MySite/v15/.suo
Apps/JobMarket-Document/.vs/MySite/v16/Server/sqlite3/db.lock
*.lock
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard2.0/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard1.6/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard1.3/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net48/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net47/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net46/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net45/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/monoandroid/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/icons/mimekit-50.png
APIs/ApiJobMarket/packages/MimeKit.2.5.1/.signature.p7s
APIs/ApiJobMarket/packages/log4net.2.0.5/lib/net11-full/log4net.xml
APIs/ApiJobMarket/packages/log4net.2.0.5/lib/net10-full/log4net.xml
APIs/ApiJobMarket/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
APIs/ApiJobMarket/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
APIs/ApiJobMarket/packages/BouncyCastle.1.8.5/README.md
APIs/ApiJobMarket/packages/bootstrap.3.0.0/Content/Scripts/bootstrap.min.js
APIs/ApiJobMarket/packages/bootstrap.3.0.0/Content/Scripts/bootstrap.js
APIs/ApiJobMarket/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.svg
APIs/ApiJobMarket/packages/bootstrap.3.0.0/Content/Content/bootstrap.min.css
APIs/ApiJobMarket/packages/bootstrap.3.0.0/Content/Content/bootstrap.css
APIs/ApiJobMarket/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.css
APIs/ApiJobMarket/ApiJobMarket/packages.config
APIs/ApiJobMarket/ApiJobMarket/ConnectionStrings.config
APIs/ApiJobMarket/ApiJobMarket/ApiJobMarket.csproj
APIs/ApiJobMarket/packages/MimeKit.2.5.1/MimeKit.2.5.1.nupkg
APIs/ApiJobMarket/packages/MimeKit.2.6.0/.signature.p7s
APIs/ApiJobMarket/packages/MimeKit.2.6.0/icons/mimekit-50.png
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/monoandroid/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/net45/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/net46/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/net47/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/net48/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/netstandard1.3/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/netstandard1.6/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/netstandard2.0/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/lib/xamarinios/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.6.0/MimeKit.2.6.0.nupkg
APIs/ApiJobMarket/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
APIs/ApiJobMarket/packages/Respond.1.2.0/content/Scripts/respond.js
APIs/ApiJobMarket/packages/Respond.1.2.0/content/Scripts/respond.min.js
APIs/ApiJobMarket/packages/StackExchange.Redis.1.1.603/lib/net46/StackExchange.Redis.dll.config
APIs/ApiJobMarket/packages/WebGrease.1.5.2/tools/install.ps1
APIs/ApiJobMarket/packages/WebGrease.1.5.2/tools/uninstall.ps1
APIs/ApiJobMarket/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
APIs/ApiJobMarket/packages/Respond.1.2.0/content/Scripts/respond.js
APIs/ApiJobMarket/packages/Respond.1.2.0/content/Scripts/respond.min.js
APIs/ApiJobMarket/packages/StackExchange.Redis.1.1.603/lib/net46/StackExchange.Redis.dll.config
APIs/ApiJobMarket/packages/WebGrease.1.5.2/tools/install.ps1
APIs/ApiJobMarket/packages/WebGrease.1.5.2/tools/uninstall.ps1
Apps/JobMarket-Agency/Manager/MsSql.AspNet.Identity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
APIs/ApiJobMarket/ApiJobMarket/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj
Apps/JobMarket-Agency/Manager/Manager.WebApp/Properties/PublishProfiles/CustomProfile.pubxml.user
Apps/JobMarket-Agency/Manager/Manager.WebApp/Properties/PublishProfiles/CustomProfile.pubxml
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj.user
Apps/JobMarket-Agency/Manager/Manager.WebApp/ConnectionStrings.config
APIs/ApiJobMarket/ApiJobMarket/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj.user
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj
Apps/JobMarket-Agency/Manager/Manager.WebApp/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/ConnectionStrings.config
*.config
APIs/ApiJobMarket/ApiJobMarket/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj.user
Apps/JobMarket-Agency/Manager/Manager.WebApp/Views/JobSeeker/Update.cshtml
APIs/ApiJobMarket/ApiJobMarket/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/ConnectionStrings.config
APIs/ApiJobMarket/ApiJobMarket.DB.Sql.Entities/ApiJobMarket.DB.Sql.Entities.csproj
APIs/ApiJobMarket/ApiJobMarket.DB.Sql.Entities/packages.config
APIs/ApiJobMarket/ApiJobMarket.DB.Sql/ApiJobMarket.DB.Sql.csproj
APIs/ApiJobMarket/ApiJobMarket.DB.Sql/packages.config
APIs/ApiJobMarket/ApiJobMarket.ShareLibs/ApiJobMarket.ShareLibs.csproj
APIs/ApiJobMarket/ApiJobMarket.ShareLibs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
APIs/ApiJobMarket/ApiJobMarket/ApiJobMarket.csproj
APIs/ApiJobMarket/ApiJobMarket/packages.config
APIs/ApiJobMarket/packages/MimeKit.2.5.1/.signature.p7s
APIs/ApiJobMarket/packages/MimeKit.2.5.1/icons/mimekit-50.png
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/monoandroid/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net45/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net46/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net47/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net48/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard1.3/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard1.6/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard2.0/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/xamarinios/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/MimeKit.2.5.1.nupkg
Apps/JobMarket-Agency/Manager/Manager.WebApp/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj.user
Apps/JobMarket-Agency/Manager/Manager.WebApp/Views/JobSeeker/Update.cshtml
APIs/ApiJobMarket/ApiJobMarket.DB.Sql.Entities/ApiJobMarket.DB.Sql.Entities.csproj
APIs/ApiJobMarket/ApiJobMarket.DB.Sql.Entities/packages.config
APIs/ApiJobMarket/ApiJobMarket.DB.Sql/ApiJobMarket.DB.Sql.csproj
APIs/ApiJobMarket/ApiJobMarket.DB.Sql/packages.config
APIs/ApiJobMarket/ApiJobMarket.ShareLibs/ApiJobMarket.ShareLibs.csproj
APIs/ApiJobMarket/ApiJobMarket.ShareLibs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
APIs/ApiJobMarket/ApiJobMarket/ApiJobMarket.csproj
APIs/ApiJobMarket/ApiJobMarket/packages.config
APIs/ApiJobMarket/packages/MimeKit.2.5.1/.signature.p7s
APIs/ApiJobMarket/packages/MimeKit.2.5.1/icons/mimekit-50.png
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/monoandroid/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net45/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net46/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net47/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/net48/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard1.3/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard1.6/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/netstandard2.0/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/lib/xamarinios/MimeKit.xml
APIs/ApiJobMarket/packages/MimeKit.2.5.1/MimeKit.2.5.1.nupkg
Apps/JobMarket-Agency/Manager/Manager.WebApp/ConnectionStrings.config
Apps/JobMarket-Agency/Manager/Manager.WebApp/Manager.WebApp.csproj.user
*.config

Apps/JobMarket-Agency/Manager/Manager.WebApp/bin/
Apps/JobMarket-Agency/Manager/Manager.WebApp/obj/
Apps/JobMarket-Agency/Manager/.vs/
AdminBackend/Manager/.vs/
AdminBackend/Manager/WebApp/bin/
AdminBackend/Manager/WebApp/obj/
