<!-- Header Start -->
<header id="wt-header" class="wt-header wt-haslayout">
    <div class="wt-navigationarea">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <strong class="wt-logo">
                        <a href="/">
                            <img width="200" src="/Content/themes/default/images/logo.svg" alt="Pfood" class="wt-logo__img">
                            <img width="40" src="/Content/themes/default/images/logo_m.svg" alt="Pfood" class="wt-logo__img wt-logo__img--xs">
                        </a>
                    </strong>
                    <!-- build:header-1 -->
                    <a href="javascript:;" class="btn-search-xs"><i class="fa fa-search"></i></a>

                    @Html.Partial("_NavigationMenu")
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->

<!--Inner Home Banner Start-->
<div class="wt-haslayout wt-innerbannerholder" style="background-image: url(/Content/themes/default/images/bannerimg/banner-img.jpg)">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-12">
                <div class="wt-innerbannercontent">
                    <div class="wt-title">
                        <h2>Chính sách và Điều khoản</h2>
                    </div>
                    <ol class="wt-breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="wt-active">Chính sách và Điều khoản</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Inner Home End-->
<!--Main Start-->

<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <div class="wt-main-section wt-paddingtopnull wt-haslayout">
        <div class="container">
            <div class="row">

                <div id="wt-twocolumns" class="wt-twocolumns wt-haslayout">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left sticky d-none d-md-block">
                        <aside id="wt-sidebar" class="wt-sidebar">
                            <div class="wt-widget wt-effectiveholder">
                                <div class="wt-widgetcontent">
                                    <div id="list-termcodition" class="wt-effectivecontent list-group list-group--termcodition">
                                        <a class="list-group-item list-group-item-action" href="#list-item-1">Tổng quan Chính sách</a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-2">Điều khoản chung</a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-3">Khước từ bảo đảm</a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-4">Giới hạn trách nhiệm</a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-5">Bồi hoàn</a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-6">
                                            Khả năng chấp nhận các Điều
                                            Khoản Dịch Vụ
                                        </a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-7">Chuyển giao</a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-8">
                                            Lạm dụng thương hiệu trên
                                            Pfood
                                        </a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-9">Lạm dụng tên người dùng</a>
                                        <a class="list-group-item list-group-item-action" href="#list-item-10">Mạo danh</a>
                                    </div>
                                </div>

                            </div>
                        </aside>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-8 float-left">
                        <div class="wt-submitreportholder wt-bgwhite">
                            <div class="wt-titlebar">
                                <h2>Chính sách và điều khoản của <span>Pfood</span></h2>
                            </div>
                            <div class="wt-reportdescription">
                                <div data-spy="scroll" data-target="#list-termcodition" class="scrollspy-termcodition">
                                    <h4 class="list-item__title d-block d-md-none">1. Tổng quan Chính sách <a class="btn-toggle" data-toggle="collapse" href="#list-item-1"></a></h4>
                                    <div id="list-item-1" class="list-group__content">
                                        <h4 class="d-none d-md-block">1. Tổng quan Chính sách </h4>
                                        <p>
                                            Chúng tôi tin rằng việc mọi người chia sẻ thông tin một cách nhanh chóng, dễ dàng sẽ khiến thông
                                            tin không được kiểm soát chặt chẽ. Để bảo vệ trải nghiệm và sự an toàn của người sử dụng trang web
                                            <a href=" http://pfood.vn">http://pfood.vn</a> (sau đây sẽ gọi tắt là Pfood) , chúng tôi đề ra một
                                            số giới hạn về loại nội dung
                                            và hành vi được phép. Những giới hạn này được quy định trong quy tắc của Pfood dưới đây.
                                        </p>
                                        <p>
                                            Quy tắc của Pfood (cùng với tất cả những chính sách hợp nhất), Chính sách riêng tư và Điều khoản
                                            dịch vụ chung tạo thành "Điều khoản người dùng Pfood" cho phép quyền truy cập của người dùng và sử
                                            dụng các dịch vụ của Pfood.
                                        </p>
                                        <p>
                                            Tất cả các cá nhân truy cập hoặc sử dụng dịch vụ của Pfood phải tuân thủ các chính sách được
                                            quy
                                            định trong quy tắc của Pfood. Không làm như vậy có thể khiến Pfood thực hiện một hoặc nhiều hành
                                            động ép buộc sau đây:
                                        </p>
                                        <ul>
                                            <li>
                                                Yêu cầu bạn loại bỏ nội dung bị cấm trước khi bạn có thể tạo những bài đăng mới lần nữa và
                                                tương
                                                tác với những người dùng Pfood khác;
                                            </li>
                                            <li>
                                                Giới hạn tạm thời khả năng tạo bài đăng hoặc tương tác với những người dùng Pfood khác của
                                                bạn;
                                            </li>
                                            <li>
                                                Yêu cầu bạn xác minh quyền sở hữu tài khoản bằng một số điện thoại hoặc địa chỉ email hoặc
                                                đình
                                                chỉ vĩnh viễn tài khoản của bạn.
                                            </li>
                                        </ul>
                                        <p>
                                            Vui lòng lưu ý rằng chúng tôi có thể cần thay đổi quy tắc này vào bất cứ lúc nào và bảo lưu quyền
                                            làm như vậy.
                                        </p>
                                        <p>
                                            Những chính sách được quy định trong quy tắc của Pfood này quản lý nội dung cơ bản trên nền tảng
                                            của chúng tôi.
                                        </p>

                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">2. Điều khoản chung<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-2"></a></h4>
                                    <div id="list-item-2" class="list-group__content">
                                        <h4 class="d-none d-md-block">2. Điều khoản chung</h4>
                                        <p>Bạn đồng ý rằng: </p>
                                        <p>
                                            Pfood được xem là một trang web thụ động không làm phát sinh thẩm quyền tài phán đối với Pfood,
                                            cụ
                                            thể hoặc chung chung, tại các lãnh thổ tài phán không phải là Việt Nam. Các Điều Khoản Dịch Vụ này
                                            được điều chỉnh nội dung theo pháp luật nhà nước, mà không xét đến các nguyên tắc xung đột pháp
                                            luật của nhà nước. Bất kỳ khiếu nại hoặc tranh chấp nào giữa bạn và Pfood mà phát sinh toàn bộ
                                            hoặc một
                                            phần từ Dịch Vụ sẽ được quyết định độc quyền bởi tòa án có thẩm quyền tại Việt Nam. Các Điều Khoản
                                            Dịch Vụ này cùng với Thông Báo Bảo Mật Riêng Tư tại <a href="/chinh-sach-bao-mat">http://pfood.vn/chinh-sach-bao-mat</a> và bất kỳ thông
                                            báo pháp lý nào khác được Pfood công bố về Dịch Vụ, sẽ cấu thành toàn bộ thỏa thuận giữa bạn và
                                            Pfood liên quan đến Dịch Vụ. Nếu bất kỳ quy định nào của các Điều Khoản Dịch Vụ này bị Tòa án có
                                            thẩm quyền xem là vô hiệu, thì sự vô hiệu của điều khoản đó sẽ không làm ảnh hưởng đến hiệu lực
                                            của
                                            các điều khoản còn lại trong các Điều Khoản Dịch Vụ này, nghĩa là sẽ còn đầy đủ hiệu lực thi hành.
                                            Việc từ bỏ bất kỳ điều khoản nào trong các Điều Khoản này sẽ không được xem là từ bỏ khác hoặc
                                            tiếp
                                            tục từ bỏ đối với điều khoản đó hoặc bất kỳ điều khoản nào khác, và việc Pfood không khẳng định
                                            bất
                                            kỳ quyền hoặc quy định nào trong các Điều Khoản Dịch Vụ này sẽ không cấu thành việc từ bỏ quyền
                                            hoặc
                                            quy định đó. Pfood bảo lưu quyền sửa đổi các Điều Khoản Dịch Vụ này tại bất kỳ thời điểm nào mà
                                            không cần thông báo, và trách nhiệm của bạn là phải xem lại các Điều Khoản Dịch Vụ này để biết về
                                            bất kỳ thay đổi nào. Việc bạn sử dụng Dịch Vụ sau khi có việc sửa đổi các Điều Khoản Dịch Vụ này
                                            sẽ
                                            thể hiện bạn đồng ý và chấp nhận các điều khoản sửa đổi của các Điều Khoản Dịch Vụ. Bạn và Pfood
                                            thỏa thuận rằng bất kỳ nguyên nhân khiếu kiện nào phát sinh từ hoặc liên quan đến các dịch vụ phải
                                            bắt đầu trong vòng một (1) năm sau khi nảy sinh nguyên nhân khiếu kiện, nếu không nguyên nhân
                                            khiếu
                                            kiện đó bị loại bỏ vĩnh viễn.
                                        </p>
                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">3. Khước từ bảo đảm<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-3"></a></h4>
                                    <div id="list-item-3" class="list-group__content">
                                        <h4 class="d-none d-md-block">3. Khước từ bảo đảm</h4>
                                        <p>
                                            Bạn đồng ý rằng bạn tự chịu trách nhiệm khi sử dụng các dịch vụ trong phạm vi đầy đủ nhất mà pháp
                                            luật cho phép. Pfood, các viên chức, giám đốc, nhân viên và các bên đại diện của Pfood khước từ
                                            mọi
                                            bảo đảm, rõ ràng hoặc ngụ ý, liên quan đến các dịch vụ và việc bạn sử dụng các dịch vụ. Pfood
                                            không
                                            đưa ra bảo đảm hoặc cam đoan nào về tính chính xác hoặc hoàn chỉnh của nội dung trên trang này
                                            hoặc
                                            nội dung trên bất kỳ các trang nào dẫn đến trang này và không nhận lãnh trách nhiệm pháp lý hoặc
                                            trách nhiệm cho bất kỳ:
                                        </p>
                                        <ol>
                                            <li>Sai sót, lỗi, hoặc những điểm không chính xác trong nội dung.</li>
                                            <li>
                                                Tổn thương ở người hoặc thiệt hại tài sản, mang bất kỳ tính chất gì, do hệ quả của việc bạn
                                                truy
                                                cập và sử dụng dịch vụ của chúng tôi.
                                            </li>
                                            <li>
                                                Bất kỳ việc truy cập hoặc sử dụng không được phép các máy chủ bảo mật của chúng tôi và/hoặc
                                                bất
                                                kỳ và tất cả thông tin cá nhân và/hoặc thông tin tài chính chứa trong đó.
                                            </li>
                                            <li>
                                                Bất kỳ gián đoạn hoặc chấm dứt truyền tải đến và từ các dịch vụ của chúng tôi, bất kỳ loại bọ
                                                và
                                                vi-rút máy tính (trojan, virus, worm và malware khác) hoặc loại tương tự nào có thể được truyền
                                                đến hoặc thông qua các dịch vụ của chúng tôi do bất kỳ bên thứ ba nào thực hiện.
                                            </li>
                                            <li>
                                                Bất kỳ sai sót hoặc bỏ sót trong bất kỳ nội dung nào hoặc vì bất kỳ thiệt hại hoặc tổn thất
                                                nào
                                                thuộc bất kỳ loại nào phát sinh do sử dụng bất kỳ nội dung được đăng tải truyền hoặc mặt khác
                                                được
                                                cung cấp thông qua các dịch vụ. Pfood không bảo đảm, xác thực, bảo lãnh, hoặc nhận lãnh trách
                                                nhiệm đối với bất kỳ sản phẩm hoặc dịch vụ nào được quảng cáo hoặc đưa ra bởi một bên thứ ba
                                                thông
                                                qua các dịch vụ hoặc bất kỳ các dịch vụ nào có siêu liên kết hoặc xuất hiện trong bất kỳ bảng
                                                quảng cáo (banner) hoặc hình thức quảng cáo khác, và Pfood sẽ không là một bên hoặc chịu trách
                                                nhiệm dưới bất kỳ hình thức nào trong việc giám sát bất kỳ giao dịch nào giữa bạn và nhà cung
                                                cấp
                                                sản phẩm hoặc dịch vụ bên thứ ba. với việc mua sản phẩm hoặc dịch vụ thông qua bất kỳ trung gian
                                                hoặc trong bất kỳ môi trường nào, bạn cần phải suy xét tốt nhất và cẩn trọng khi cần thiết.
                                            </li>
                                        </ol>
                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">4. Giới hạn trách nhiệm<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-4"></a></h4>
                                    <div id="list-item-4" class="list-group__content">
                                        <h4 class="d-none d-md-block">4. Giới hạn trách nhiệm</h4>
                                        <p>
                                            Trong mọi trường hợp, Pfood, các viên chức, giám đốc, nhân viên, hoặc bên đại diện của Pfood không
                                            chịu trách nhiệm với bạn về bất kỳ thiệt hại trực tiếp, gián tiếp, liên quan, đặc biệt mang tính
                                            trừng phạt hoặc hậu quả nào phát sinh từ bất kỳ:
                                        </p>
                                        <ol>
                                            <li>
                                                Bất kỳ việc truy cập hoặc sử dụng không được phép các máy chủ bảo mật của chúng tôi và/hoặc
                                                bất
                                                kỳ và tất cả thông tin cá nhân và/hoặc thông tin tài chính chứa trong đó bất kỳ gián đoạn hoặc
                                                chấm dứt truyền tải đến và từ các dịch vụ của chúng tôi.
                                            </li>
                                            <li>
                                                Bất kỳ việc truy cập hoặc sử dụng không được phép các máy chủ bảo mật của chúng tôi và/hoặc
                                                bất
                                                kỳ và tất cả thông tin cá nhân và/hoặc thông tin tài chính chứa trong đó.
                                            </li>
                                            <li>
                                                Bất kỳ loại bọ và vi-rút máy tính (trojan, virus, worm và malware khác) hoặc loại tương tự nào
                                                có thể được truyền đến hoặc thông qua các dịch vụ của chúng tôi do bất kỳ bên thứ ba nào thực
                                                hiện.
                                            </li>
                                            <li>
                                                Bất kỳ sai sót hoặc bỏ sót trong bất kỳ nội dung nào hoặc vì bất kỳ thiệt hại hoặc tổn thất
                                                nào
                                                thuộc bất kỳ loại nào phát sinh do bạn sử dụng bất kỳ nội dung được đăng tải, được gửi email,
                                                truyền hoặc mặt khác được cung cấp thông qua các dịch vụ, dù là trên cơ sở bảo hành, hợp đồng,
                                                trách nhiệm ngoài hợp đồng, hoặc bất kỳ lý thuyết pháp lý nào khác, dù công ty có được thông báo
                                                về khả năng của các thiệt hại đó hay không. giới hạn trách nhiệm trên đây áp dụng trong phạm vi
                                                đầy đủ nhất mà pháp luật tại quốc gia liên quan cho phép bạn xác nhận một cách cụ thể rằng Pfood
                                                sẽ không chịu trách nhiệm về nội dung hoặc hành vi phỉ báng, xúc phạm hoặc trái pháp luật của
                                                bất
                                                kỳ bên thứ ba nào và rằng rủi ro tổn thương hoặc thiệt hại từ nội dung hoặc hành vi trên hoàn
                                                toàn
                                                thuộc về bạn. Pfood không đưa ra cam đoan nào rằng các dịch vụ là phù hợp hoặc sẵn có để sử dụng
                                                tại các địa điểm khác. Những ai truy cập hoặc sử dụng dịch vụ từ các quốc gia khác tiến hành
                                                truy
                                                cập hoặc sử dụng với ý chí của chính họ và có trách nhiệm tuân thủ pháp luật sở tại.
                                            </li>
                                        </ol>
                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">5. Bồi hoàn<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-5"></a></h4>
                                    <div id="list-item-5" class="list-group__content">
                                        <h4 class="d-none d-md-block">5. Bồi hoàn</h4>
                                        <p>
                                            Trong trường hợp được pháp luật áp dụng cho phép bạn đồng ý bảo vệ, bồi hoàn và giữ vô hại cho
                                            Pfood, các viên chức, giám đốc, nhân viên và bên đại diện của Pfood khỏi bất kỳ và tất cả các
                                            khiếu nại, thiệt hại, nghĩa vụ, tổn thất, trách nhiệm, chi phí hoặc nợ, và phí tổn (bao gồm nhưng
                                            không giới hạn ở phí luật sư) phát sinh từ:
                                        </p>
                                        <ol>
                                            <li>
                                                Việc bạn sử dụng hoặc truy cập vào Pfood;
                                            </li>
                                            <li>Việc bạn vi phạm bất kỳ điều khoản nào trong các Điều Khoản Dịch Vụ này;</li>
                                            <li>
                                                Việc bạn vi phạm bất kỳ quyền bên thứ ba nào, bao gồm nhưng không giới hạn ở quyền tác giả,
                                                quyền tài sản hoặc quyền bảo mật riêng tư; hoặc bất kỳ yêu cầu nào rằng Nội Dung của bạn đã gây
                                                ra thiệt hại cho bên thứ ba. Nghĩa vụ bảo vệ và bồi hoàn vẫn còn tiếp tục có hiệu lực sau khi
                                                các Điều Khoản Dịch Vụ này và việc bạn sử dụng Dịch Vụ chấm dứt
                                            </li>
                                        </ol>
                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">6. Khả năng chấp nhận các Điều Khoản Dịch Vụ<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-6"></a></h4>
                                    <div id="list-item-6" class="list-group__content">
                                        <h4 class="d-none d-md-block">6. Khả năng chấp nhận các Điều Khoản Dịch Vụ</h4>
                                        <p>
                                            Bạn khẳng định rằng bạn trên 18 tuổi hoặc là trẻ vị thành niên tự chịu trách nhiệm, hoặc có được
                                            sự đồng ý hợp pháp của cha mẹ hoặc người giám hộ, và hoàn toàn có khả năng và có năng lực giao kết
                                            các điều khoản, điều kiện, nghĩa vụ, xác nhận, cam đoan và bảo đảm được nêu ra trong các Điều
                                            Khoản Dịch Vụ, và chấp hành và tuân thủ các Điều Khoản Dịch Vụ này. Trong bất kỳ trường hợp nào,
                                            bạn khẳng định rằng bạn trên độ tuổi 13, vì Dịch Vụ không dành cho trẻ em dưới 13 tuổi. Nếu bạn
                                            dưới 13 tuổi, thì vui lòng không sử dụng Dịch Vụ. Có nhiều trang web khác phù hợp với lứa tuổi của
                                            bạn. Hãy trao đổi với cha mẹ bạn về những trang nào phù hợp với bạn.
                                        </p>
                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">7. Chuyển giao<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-7"></a></h4>
                                    <div id="list-item-7" class="list-group__content">
                                        <h4 class="d-none d-md-block">7. Chuyển giao</h4>
                                        <p>
                                            Bạn không được chuyển giao hay chuyển nhượng các Điều Khoản Dịch Vụ này, và bất kỳ các quyền và
                                            li-xăng nào được cấp trong đây, nhưng Pfood có thể thực hiện chuyển giao mà không có bất kỳ hạn
                                            chế gì.
                                        </p>
                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">8. Lạm dụng thương hiệu trên Pfood<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-8"></a></h4>
                                    <div id="list-item-8" class="list-group__content">
                                        <h4 class="d-none d-md-block">8. Lạm dụng thương hiệu trên Pfood</h4>
                                        <p>
                                            Bạn không được sử dụng các thương hiệu, bao gồm thương hiệu Pfood “được quảng bá” hoặc “đã xác
                                            minh”, trừ khi được Pfood cung cấp. Những tài khoản sử dụng huy hiệu không được phép như là một
                                            phần của ảnh hồ sơ, ảnh tiêu đề, tên hiển thị hoặc dưới bất kỳ hình thức nào khiến người khác hiểu
                                            nhầm là có liên kết với Pfood hoặc được ủy quyền từ Pfood để hiển thị những thương hiệu này đều có
                                            thể bị đình chỉ.
                                        </p>
                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">9. Lạm dụng tên người dùng<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-9"></a></h4>
                                    <div id="list-item-9" class="list-group__content">
                                        <h4 class="d-none d-md-block">9. Lạm dụng tên người dùng</h4>
                                        <ol>
                                            <li>
                                                Bán tên người dùng: Bạn không được mua hoặc bán tên người dùng Pfood.
                                            </li>
                                            <li>
                                                Chiếm dụng tên người dùng: Bạn không được tham gia vào việc chiếm dụng tên người dùng. Một số
                                                yếu tố được chúng tôi xem xét khi xác định hành vi có được coi là chiếm dụng tên người dùng
                                                không bao gồm: <br>
                                                <ul>
                                                    <li>Số lượng tài khoản đã tạo.</li>
                                                    <li>
                                                        Tạo tài khoản nhằm mục đích ngăn chặn người khác không sử dụng những tên tài khoản đó.
                                                    </li>
                                                    <li>
                                                        Tạo nhiều tài khoản nhằm mục đích bán những tài khoản đó và sử dụng những nguồn cấp dữ
                                                        liệu nội dung của bên thứ ba để cập nhật và duy trì tài khoản dưới tên của các bên thứ ba
                                                        đó.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ol>
                                        <p>Vui lòng lưu ý rằng Pfood cũng có thể xóa các tài khoản không hoạt động lâu hơn sáu tháng. </p>
                                    </div>
                                    <h4 class="list-item__title d-block d-md-none">10. Mạo danh<a class="btn-toggle collapsed" data-toggle="collapse" href="#list-item-10"></a></h4>
                                    <div id="list-item-10" class="list-group__content">
                                        <h4 class="d-none d-md-block">10. Mạo danh</h4>
                                        <p>
                                            Bạn không được mạo danh các cá nhân, nhóm hoặc các tổ chức dưới hình thức có ý định hoặc gây hiểu
                                            sai, nhầm lẫn hay lừa dối người khác. Mặc dù bạn có thể có tài khoản châm biếm, hâm mộ, bình luận
                                            hoặc tin tức, bạn không được làm vậy nếu mục đích của tài khoản là tham gia vào hành vi lạm dụng
                                            hoặc gửi tin rác.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<!--Main End-->
