<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">
    <div class="wt-main-section wt-paddingtopnull wt-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                    <div class="wt-checkoutformhold">
                        <div class="wt-checkoutformmain">
                            <div class="wt-joinforms">
                                <form class="wt-formtheme wt-formcheckout">
                                    <fieldset class="wt-checkoutformgroup wt-checkoutformgroup--step1">
                                        <ul class="wt-formcheckout__step">
                                            <li class="active"><a href="/Payment?CurrentStep=1">1</a><span>Chọn phương thức</span></li>
                                            <li class="active"><a href="javascript:;">2</a><span>Điền thông tin</span></li>
                                            <li class=""><a href="javascript:;">3</a><span>Hoàn tất</span></li>
                                        </ul>
                                        <h4 class="wt-formcheckout__title">
                                            Bước 2: Điền thông tin thanh toán
                                        </h4>
                                        <div class="o-payment-plan form-confirm">
                                            <div class="row">
                                                <div class="col-lg-3 col-sm-5 col-12">
                                                    <div class="nav flex-column nav-pills" id="o-plan-tab" role="tablist" aria-orientation="vertical">
                                                        <a class="nav-link" id="o-plan-tab-1" data-toggle="pill" href="#o-plan-tab-1__content" role="tab" aria-controls="" aria-selected="false">Víp thường (200k)</a>
                                                        <a class="nav-link" id="o-plan-tab-2" data-toggle="pill" href="#o-plan-tab-2__content" role="tab" aria-controls="" aria-selected="false">Víp bạc (250k)</a>
                                                        <a class="nav-link active show" id="o-plan-tab-3" data-toggle="pill" href="#o-plan-tab-3__content" role="tab" aria-controls="" aria-selected="true">Víp vàng (300k)</a>
                                                        <a class="nav-link" id="o-plan-tab-4" data-toggle="pill" href="#o-plan-tab-4__content" role="tab" aria-controls="" aria-selected="false">Víp bạch kim (500k)</a>
                                                        <a class="nav-link" id="o-plan-tab-5" data-toggle="pill" href="#o-plan-tab-5__content" role="tab" aria-controls="" aria-selected="false">Víp kim cương (1000k)</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-sm-7 col-12">
                                                    <div class="tab-content" id="o-plan-tabContent">
                                                        <div class="tab-pane fade" id="o-plan-tab-1__content" role="tabpanel" aria-labelledby="o-plan-tab-1">
                                                            <h4>Víp thường (200k)</h4>
                                                            <p>Click tìm kiếm không giới hạn,k bị quảng cáo. Không xem được các bằng chứng.</p>
                                                        </div>
                                                        <div class="tab-pane fade" id="o-plan-tab-2__content" role="tabpanel" aria-labelledby="o-plan-tab-2">
                                                            <h4>Víp bạc (250k)</h4>
                                                            <p>Click tìm  kiếm không giới hạn,k bị quảng cáo. Có quyền xem 50 bằng chứng,thông tin giao dịch…. trong 1 tháng.</p>
                                                        </div>
                                                        <div class="tab-pane fade active show" id="o-plan-tab-3__content" role="tabpanel" aria-labelledby="o-plan-tab-3">
                                                            <h4>Víp vàng (300k)</h4>
                                                            <p>Click tìm  kiếm không giới hạn,k bị quảng cáo. Có quyền xem 200 bằng chứng,thông tin giao dịch….  trong 1 tháng.</p>
                                                        </div>
                                                        <div class="tab-pane fade" id="o-plan-tab-4__content" role="tabpanel" aria-labelledby="o-plan-tab-4">
                                                            <h4>Víp bạch kim (500k)</h4>
                                                            <p>Click tìm  kiếm không giới hạn,k bị quảng cáo. Có quyền xem 500 bằng chứng, thông tin giao dịch….  trong 1 tháng.</p>
                                                        </div>
                                                        <div class="tab-pane fade" id="o-plan-tab-5__content" role="tabpanel" aria-labelledby="o-plan-tab-5">
                                                            <h4>Víp kim cương (1000k)</h4>
                                                            <p>Click tìm kiếm không giới hạn,k bị quảng cáo. Có quyền xem vĩnh viễn các bằng chứng, thông tin giao dịch….. trong 1 tháng</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group text-right">
                                            <a class="btn" href="/Payment?CurrentStep=3">Tiếp tục</a>
                                        </div>
                                        <div class="o-table-quydoi" style="display: none;">
                                            <h3 class="wt-formcheckout__label text-center">Tỷ giá quy đổi</h3>
                                            <div class="table-responsive-sm">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Mức nạp</th>
                                                            <th>ATM/Visa</th>
                                                            <th>MoMo</th>
                                                            <th>Thẻ game</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>200k(VIP thường)</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                        </tr>
                                                        <tr>
                                                            <td>250k(VIP bạc)</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                        </tr>
                                                        <tr>
                                                            <td>300k(VIP vàng)</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                        </tr>
                                                        <tr>
                                                            <td>500k(VIP bạch kim)</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1000k(VIP kim cương)</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                            <td>200k</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>                                       
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--Main End-->
