body{font-family:'Roboto',sans-serif!important;font-weight:400}
.btn{font-family:unset}
.float-left{float:left}
.float-right{float:right}
.main-color{color:#36a3ca}
.full-width{width:100%}
.full-height{width:100%}
.fz-12{font-size:12px!important}
.fz-13{font-size:13px!important}
.fz-14{font-size:14px!important}
.fz-15{font-size:15px!important}
.fz-16{font-size:16px!important}
.fz-17{font-size:17px!important}
.fz-18{font-size:18px!important}
.fz-19{font-size:19px!important}
.fz-20{font-size:20px!important}
.fz-25{font-size:25px!important}
.fz-30{font-size:30px!important}
.mt0{margin-top:0!important}
.mt5{margin-top:5px!important}
.mt7{margin-top:7px!important}
.mt8{margin-top:8px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt40{margin-top:40px!important}
.mb0{margin-bottom:0!important}
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb40{margin-bottom:40px!important}
.mr0{margin-right:0!important}
.mr5{margin-right:5px!important}
.mr10{margin-right:10px!important}
.mr15{margin-right:15px!important}
.mr20{margin-right:20px!important}
.mr25{margin-right:25px!important}
.mr30{margin-right:30px!important}
.mr40{margin-right:40px!important}
.ml0{margin-left:0!important}
.ml5{margin-left:5px!important}
.ml10{margin-left:10px!important}
.ml15{margin-left:15px!important}
.ml20{margin-left:20px!important}
.ml25{margin-left:25px!important}
.ml30{margin-left:30px!important}
.ml40{margin-left:40px!important}
.pt0{padding-top:0!important}
.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt25{padding-top:25px!important}
.pt30{padding-top:30px!important}
.pt40{padding-top:40px!important}
.pb0{padding-bottom:0!important}
.pb5{padding-bottom:5px!important}
.pb10{padding-bottom:10px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb25{padding-bottom:25px!important}
.pb30{padding-bottom:30px!important}
.pb40{padding-bottom:40px!important}
.pr0{padding-right:0!important}
.pr5{padding-right:5px!important}
.pr10{padding-right:10px!important}
.pr15{padding-right:15px!important}
.pr20{padding-right:20px!important}
.pr25{padding-right:25px!important}
.pr30{padding-right:30px!important}
.pr40{padding-right:40px!important}
.pl0{padding-left:0!important}
.pl5{padding-left:5px!important}
.pl10{padding-left:10px!important}
.pl15{padding-left:15px!important}
.pl20{padding-left:20px!important}
.pl25{padding-left:25px!important}
.pl30{padding-left:30px!important}
.pl40{padding-left:40px!important}
.left{float:left}
.clearfix{clear:both}
.border-round-img{border: 1px solid #484848;border-radius:50%}
strong{font-weight:700!important}
a{text-decoration:none!important}
.hidden{display:none!important}
.pointer{cursor:pointer}
.img-previewer{vertical-align:unset;max-width:150px;height:auto;max-height:200px;margin-top:15px}
.tt-highlight{font-size:14px!important;color:red!important;font-weight:700!important}
.img-res{object-fit:cover}
.img-thum-preview{float:left;margin-right:10px;border:1px solid #ccc;border-radius:3px}
.bootbox-confirm .modal-footer{float:right;display:block;text-align:right}
.bootbox-confirm .modal-footer > .button-cancel{float:right;margin-left:5px}
.common-loading{position:fixed;width:100%;height:100%;z-index:9999;background-color:rgba(0,0,0,.2);top:0;left:0;display:none}
.lds-css{position:absolute;width:100px;height:100px;left:calc(50% - 50px);top:calc(50% - 50px)}
@keyframes lds-ripple {
0%{top:96px;left:96px;width:0;height:0;opacity:1}
100%{top:18px;left:18px;width:156px;height:156px;opacity:0}
}
@-webkit-keyframes lds-ripple {
0%{top:96px;left:96px;width:0;height:0;opacity:1}
100%{top:18px;left:18px;width:156px;height:156px;opacity:0}
}
.lds-ripple{position:relative}
.lds-ripple div{box-sizing:content-box;position:absolute;border-width:4px;border-style:solid;opacity:1;border-radius:50%;-webkit-animation:lds-ripple 2s cubic-bezier(0,0.2,0.8,1) infinite;animation:lds-ripple 2s cubic-bezier(0,0.2,0.8,1) infinite}
.lds-ripple div:nth-child(1){border-color:#f39c13}
.lds-ripple div:nth-child(2){border-color:#e79300;-webkit-animation-delay:-1s;animation-delay:-1s}
.lds-ripple{width:100px!important;height:100px!important;-webkit-transform:translate(-50px,-50px) scale(0.5) translate(50px,50px);transform:translate(-50px,-50px) scale(0.5) translate(50px,50px)}
.nopadding{padding:0!important}
.nomargin{margin:0!important}
.common-loading-item{width:100%;height:100%;z-index:1000;min-height:100px;top:0;left:0;display:none;position:relative}
.common-loading-item .lds-css{position:absolute;width:100px;height:100px;left:calc(50% - 50px)}
.common-loading-item .lds-ripple{position:relative}
.common-loading-item .lds-ripple div{box-sizing:content-box;position:absolute;border-width:4px;border-style:solid;opacity:1;border-radius:50%;-webkit-animation:lds-ripple 2s cubic-bezier(0,0.2,0.8,1) infinite;animation:lds-ripple 2s cubic-bezier(0,0.2,0.8,1) infinite}
.common-loading-item .lds-ripple div:nth-child(1){border-color:#f39c13}
.common-loading-item .lds-ripple div:nth-child(2){border-color:#e79300;-webkit-animation-delay:-1s;animation-delay:-1s}
.common-loading-item .lds-ripple{width:100px!important;height:100px!important;-webkit-transform:translate(-50px,-50px) scale(0.5) translate(50px,50px);transform:translate(-50px,-50px) scale(0.5) translate(50px,50px)}
.btn.btn-info{background-color:#36a3ca!important}
.btn.btn-info:hover{background-color:#ffb855!important;border-color:#ccc!important}
.m-subheader{padding:20px 20px 0!important}
.m-body .m-content{padding:20px}
.m-portlet .m-portlet__head{padding:0 10px!important;height:4.1rem!important}
.my-bg{background-color:#f2f3f8}
.btn.btn-warning{color:#fff!important;background-color:#ffb855!important}
.btn.btn-warning.active,.btn.btn-warning.focus,.btn.btn-warning:focus,.btn.btn-warning:hover:not(:disabled){color:#fff!important}
.btn.btn-warning:hover:not(:disabled){background-color:#a58b0d!important}
.btn-outline-info.focus,.btn-outline-info:focus,.btn-outline-info:hover{background-color:#36a3ca!important}
.m-aside-left.m-aside-left--skin-dark{background-color:#36a3ca!important}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-icon,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon{color:#fff!important}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text{color:#fff!important}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__ver-arrow,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__ver-arrow{color:#fff!important}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover > a{background-color:#005684!important}
@media (min-width: 1025px) {
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item:not([m-menu-submenu-mode=accordion]).m-menu__item--hover > .m-menu__submenu .m-menu__subnav,.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item:not([m-menu-submenu-mode=accordion]).m-menu__item--hover > .m-menu__submenu .m-menu__subnav{background-color:#36a3ca!important}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-dark .m-menu__nav.m-menu__nav--dropdown-submenu-arrow .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__arrow,.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-dark .m-menu__nav.m-menu__nav--dropdown-submenu-arrow .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__arrow{color:#36a3ca!important}
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open{background-color:#2f7bb1}
.m-menu__item m-menu__item--open > .m-menu__link m-menu__toggle{background-color:#36a3ca}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text{color:#fff!important}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover{background-color:#005684!important}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active{background-color:#005684!important}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span{background-color:#fff!important}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span,.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span{background-color:#fff!important}
.m-brand.m-brand--skin-dark{background:#fff!important}
.m-brand__logo{width:98%!important}
.m-menu__item.active{background-color:#36a3ca}
.m-menu__item.active .m-menu__link-text{color:#fff!important}
.m-portlet .m-portlet__body{padding:1.2rem!important}
.m-table.m-table--head-bg-brand thead th{font-weight:700;background:#fff;color:#3f4047;border-top:1px solid #f4f5f8}
tr.pointer:hover{background-color:#36a3ca;color:#fff}
tr.pointer.text-danger:hover{background-color:#36a3ca!important;color:#fff!important}
tr.pointer.tr-selected{background-color:#36a3ca!important;color:#fff!important}
.tr-choose .text-info :hover{color:#fff!important}
.tr-choose.tr-selected .text-info :hover{color:#fff!important}
.text-info{color:#36a3ca!important}
.tr-selected .text-info{color:#fff!important}
.modal.modal-wide .modal-wide-dialog{width:98%!important;max-width:unset!important}
.modal-wide-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none}
.modal-wide .modal-body{overflow-y:auto}
.m-login.m-login--2.m-login-2--skin-3 .m-login__container .m-login__form .form-control{background-color:#fff!important}
.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--active{background-color:#36a3ca!important}
.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link:hover{background-color:#36a3ca!important;color:#fff!important}
.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name{color:#fff}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow{color:#36a3ca}
.tooltip > .tooltip-inner,.red-tooltip + .tooltip > .tooltip-arrow{background-color:#fd8a21;color:#fff}
.tooltip-arrow{border-bottom-color:#fd8a21!important}
.m-tabs-line.m-tabs-line--primary a.m-tabs__link.active,.m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover,.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active,.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover{color:#36a3ca!important;border-bottom:1px solid #36a3ca!important}
.m-tabs-line.m-tabs-line--primary a.m-tabs__link.active > i,.m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover > i,.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active > i,.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover > i{color:#36a3ca!important}
.m-list-badge .m-list-badge__items a.m-list-badge__item:hover{color:#fff!important;background-color:#36a3ca!important}
.m-checkbox,.m-radio{padding-left:25px}
.properties-list{border:4px solid #f7f7fa;padding:11px}
a:hover{color:#36a3ca!important}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-icon,.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-icon{color:#36a3ca!important}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-text,.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item:hover > .m-menu__link .m-menu__link-text{color:#36a3ca!important}
.btn.m-btn--label-brand,.m-nav__link,.m-nav__link:hover{color:#36a3ca!important}
.form-control.focus,.form-control:focus{border-color:#36a3ca!important}
.bootstrap-select.show > .dropdown-toggle.btn-light,.bootstrap-select.show > .dropdown-toggle.btn-secondary{border-color:#36a3ca!important}
.btn.m-btn--hover-info.active,.btn.m-btn--hover-info:active,.btn.m-btn--hover-info:focus,.btn.m-btn--hover-info:hover,.show > .btn.m-btn--hover-info.dropdown-toggle{border-color:#36a3ca!important;color:#fff!important;background-color:#36a3ca!important}
.datepicker tbody tr > td.day.active,.datepicker tbody tr > td.day.active:hover,.datepicker tbody tr > td.day.selected,.datepicker tbody tr > td.day.selected:hover{background:#36a3ca;color:#fff}
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove{color:#e08d18;font-weight:700!important;font-family:unset}
.form-control{transition:unset!important}
.select2-container--default.select2-container--focus .select2-selection--multiple,.select2-container--default.select2-container--focus .select2-selection--single,.select2-container--default.select2-container--open .select2-selection--multiple,.select2-container--default.select2-container--open .select2-selection--single{border-color:#36a3ca!important}
.m-list-badge.m-list-badge--light-bg .m-list-badge__items .m-list-badge__item{border:1px solid #36a3ca}
.m-list-badge .m-list-badge__items .m-list-badge__item{color:#36a3ca}
.m-tabs-line.m-tabs-line--info a.m-tabs__link.active,.m-tabs-line.m-tabs-line--info a.m-tabs__link:hover,.m-tabs-line.m-tabs-line--info.nav.nav-tabs .nav-link.active,.m-tabs-line.m-tabs-line--info.nav.nav-tabs .nav-link:hover{color:#36a3ca;border-bottom:1px solid #36a3ca}
.m-subheader .m-subheader__breadcrumbs.m-nav > .m-nav__item > .m-nav__link:hover > .m-nav__link-text{color:#36a3ca}
.m-menu__link :hover.m-menu__link-text{font-weight:700}
.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon,.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text,.m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu > .m-menu__subnav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text{color:#36a3ca}
.m-menu__link-text:hover,.m-nav__link-text:hover,.m-nav__link:hover,.m-nav__link-title:hover,.m-nav__link-wrap:hover{color:#36a3ca!important}
.m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-arrow,.m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-icon,.m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text,.m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-arrow,.m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-icon,.m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-text{color:#36a3ca!important}
.m-menu__item--rel.m-menu__item--active{border-bottom:2px solid #36a3ca}
.cover-img{border:1px solid #ccc;border-radius:2px;object-fit:cover!important}
.avatar-img{border:1px solid #ccc;object-fit:cover!important;border-radius:50%;width:50px;height:50px}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span{background:#36a3ca!important}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before{background:#36a3ca!important}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after{background:#36a3ca!important}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span{background:#36a3ca!important}
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span::after,.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler:hover span::before{background:#36a3ca!important;background:#36a3ca!important}
.dd-handle.btn-yellow .action-buttons > a{color:#fff!important}
.progress{margin-bottom:10px;height:7px}
.progress-bar{background-color:#36a3ca}
.file-row{margin-top:10px}
.preview > img{border:1px solid #ccc;border-radius:2px}
.preivew-item{border:1px solid #ccc}
.action{width:100px}
.action-3{width:130px}
.m-brand{width:225px;box-shadow:-3px 1px 5px 1px rgba(69,65,78,.1)}
#m_header_topbar .dropdown-custom{width:110px;margin-left:-52px}
#m_header_topbar .dropdown-custom ul{padding:0 0 0 5px}
#m_header_topbar .dropdown-custom ul li{display:flex;padding:5px}
#m_header_topbar .dropdown-custom .m-dropdown__body{padding:13px}
#m_header_topbar .dropdown-custom ul li:hover{background-color:#f5f5f5}
#m_header_topbar .image-lang{border:1px solid #cecece;width:100%;height:auto}
.note-editor.note-frame .note-editing-area .note-editable{padding:20px 20px 0 22px}
.lb_danger{color:#dc3545!important}
@media (max-width: 1025px) {
.m-brand{width:100%}
}
@media (max-width: 768px) {
#m_header_topbar .dropdown-custom{width:110px;margin-left:0;left:calc(100% - 160px)}
}
.m-card-profile .m-card-profile__pic .m-card-profile__pic-wrapper{-webkit-border-radius:unset;-moz-border-radius:unset;-ms-border-radius:unset;-o-border-radius:unset;border-radius:unset;border:1px solid #ccc;max-width:65%}
.m-card-profile .m-card-profile__pic img{max-width:100%!important;width:auto;object-fit:cover}