<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">進捗管理</h2>
        <p class="function_detail_title_sub">応募から面談・面接の進捗を貴社のフローに合わせて管理可能</p>

        <ul class="function_label_box">
            <li class="function_label">進捗登録・検索機能</li>
            <li class="function_label">マイページ機能</li>
        </ul>

        <!-- <div class="function_main_img_box">
            <img class="function_main_img" src="https://www.matchingood.co.jp/resource/img/function/function_dashboard.jpg" alt="進捗管理">
        </div> --!>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    進捗登録・検索機能
                </dd>
            </dl>
            <p class="point_description">
                求職者との面談設定や日々のメール・電話のやり取りを詳細に残すことができます。また、実際の選考進捗についても、貴社独自に選考フローの設定（書類・一次面接～最終面接等）を行えますので、貴社の選考フローで進捗管理いただくことが可能です。<br><br>
                またJAPAN WORKは進捗の検索も可能ですので、一日の動きを的確に把握し、生産性を向上できます。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    マイページ機能
                </dd>
            </dl>
            <p class="point_description">
                担当者それぞれが、今自分が抱えてる求職者や求人の進捗を一覧で確認することが可能です。進捗を正確に確認することで、対応漏れの防止に繋がります。また、他の担当者や貴社全体の進捗の確認もできますので、定期的な会議の際など、報告資料としても役立てることができます。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>