<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">求職者管理</h2>
        

        <ul class="function_label_box">
            <li class="function_label">求職者情報登録・検索</li>
            <li class="function_label">担当者振り分け・変更</li>
            <li class="function_label">求職者対応管理</li>
            <li class="function_label">求職者ステータス管理</li>
            @*<li class="function_label">レジュメ管理・検索機能</li>
            <li class="function_label">キャリアシート出力</li*@  
            <li class="function_label">一括メール送信</li>
        </ul>

        @*<div class="function_main_img_box">
            <img class="function_main_img" src="~/Content/img/function/function_candidates.jpg" alt="求職者管理">
        </div>*@ 

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    求職者情報登録・検索 
                </dd>
            </dl>
            <p class="point_description">
                求職者の管理が自由にできます。JAPAN WORKの項目は貴社側の要望応じて追加・削除・順番の入れ替えができるため、貴社専用の求職者の管理画面を作成する事が可能です。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    担当者振り分け・変更
                </dd>
            </dl>
            <p class="point_description">
                求職者の担当コンサルタントも、自由に管理することができます。呼び込みまでの進捗も管理することができますので、呼び込み漏れを防止することが可能です。
            </p>
        </div>

        @*<div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">03</span>
                </dt>
                <dd class="point_detail">
                    求職者重複チェック
                </dd>
            </dl>
            <p class="point_description">
                複数の求人媒体から同じ求職者が応募してきた時のために、JAPAN WORKでは求職者が重複して登録されているかチェックすることができます。
            </p>
        </div>*@ 

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">03</span>
                </dt>
                <dd class="point_detail">
                    求職者対応管理
                </dd>
            </dl>
            <p class="point_description">
                それぞれの求職者との面談やメール・電話といったやりとりなどの、対応状況の管理を行うことができます。この機能によって、社内での対応状況の共有を円滑にすることが可能です。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">04</span>
                </dt>
                <dd class="point_detail">
                    求職者ステータス管理
                </dd>
            </dl>
            <p class="point_description">
                求職者のステータス状況を一覧することができます。ステータスを正確に管理することで、求職者にモレのない確実な対応をすることが可能です。
            </p>
        </div>

        @*<div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">05</span>
                </dt>
                <dd class="point_detail">
                    レジュメ管理・検索機能  
                </dd>
            </dl>
            <p class="point_description">
                Word、Excel、PDFなどのファイルの形式で送られてくるたくさんのレジュメ。このレジュメのデータを、システムに手で入力するのは間違ってもしたくありませんよね。JAPAN WORKでは、Word、Excel、PDFなどのファイルの形式で送られてくるレジュメを取り込んでおきさえすれば、取り込んだレジュメの中身まで検索することができます。<br /><br />
                これで無駄な手入力は一切不要。レジュメをJAPAN WORKに取り込んでおくだけで、そのレジュメの中に書かれている学歴・職歴などのデータを検索することが可能になります。<br /><br />
                「あの○○株式会社の人、誰だっけな？」連絡を取りたい求職者の会社名は分かるのに、名前が思い出せなかった経験はございませんか？この機能により貴社に登録された求職者を、モレなく検索することが可能です。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">05</span>
                </dt>
                <dd class="point_detail">
                    キャリアシート出力
                </dd>
            </dl>
            <p class="point_description">
                貴社のキャリアコンサルタント様が求職者の方とご面談なさるとき、求職者のデータを見ながらご面談されたいですよね？ JAPAN WORKは、求職者のデータをExcel帳票形式で出力することができます。<br /><br />
                しかも完全無料で、貴社が普段お使いのキャリアシートの形式での出力でも可能です。帳票カスタマイズが完全無料なのは業界初！ さらに求人企業様に推薦を行うために個人情報をマスキングしたキャリアシートも出力できるようになっておりますので、ご安心ください。
            </p>
        </div>*@

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">05</span>
                </dt>
                <dd class="point_detail">
                    一括メール送信
                </dd>
            </dl>
            <p class="point_description">
                求職者の皆様全員に最新の求人情報を一括で送りたい時、また、ある条件に合致するたくさんの求職者へ同じ内容のメールを送りたい時、手作業で一件ずつ送るのは大変骨が折れますよね。JAPAN WORKでは、求職者検索の結果に含まれた求職者へ一括でメールを送信することができます。<br /><br />
                また、メールを拒否している求職者には送信しない・メールアドレスが重複している求職者を確認するといったことも可能となっております。JAPAN WORKの高機能な一括メール送信機能が、貴社の求職者フォローを手厚くサポートします。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>



