<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">求職者管理</h2>
        <p class="function_detail_title_sub">個人情報をマスキングしたキャリアシートも出力できる。</p>

        @*<ul class="function_label_box">
            <li class="function_label">労働局帳票出力機</li>
        </ul>*@

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    キャリアシート出力
                </dd>
            </dl>
            <p class="point_description">
                貴社のキャリアコンサルタント様が求職者の方とご面談なさるとき、求職者のデータを見ながらご面談されたいですよね？ JAPAN WORKは、求職者のデータをExcel帳票形式で出力することができます。<br /><br />
                貴社が普段お使いのキャリアシートの形式での出力でも可能です。さらに求人企業様に推薦を行うために個人情報をマスキングしたキャリアシートも出力できるので、ご安心ください。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>