<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">会社情報管理</h2>
        <p class="function_detail_title_sub">取引先会社の情報や営業履歴を一元管理してスムーズなやり取りを。</p>

        <ul class="function_label_box">
            <li class="function_label">会社情報登録・検索</li>
            @*<li class="function_label">各種書類管理</li>*@
            <li class="function_label">対応履歴管理</li>
            <li class="function_label">CSVインポート</li>
        </ul>

        @*<div class="function_main_img_box">
            <img class="function_main_img" src="https://www.matchingood.co.jp/resource/img/function/function_company.jpg" alt="会社情報管理">
        </div>*@

            <div class="point_box">
                <dl class="point_question_box">
                    <dt class="point_title">
                        <span class="point_title_sub">POINT</span>
                        <span class="point_title_number">01</span>
                    </dt>
                    <dd class="point_detail">
                        会社情報登録・検索
                    </dd>
                </dl>
                <p class="point_description">
                    取引先会社の情報を一元管理できます。項目は貴社側の要望応じて追加や並べ替え・削除を行え、詳細な検索もできます。
                </p>
            </div>

            @*<div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    各種書類管理
                </dd>
            </dl>
            <p class="point_description">
                取引先会社との契約書やその他書類のやり取りをJAPAN WORKのフォルダに会社ごとに分けて保存が可能です。
            </p>
        </div>*@

            <div class="point_box">
                <dl class="point_question_box">
                    <dt class="point_title">
                        <span class="point_title_sub">POINT</span>
                        <span class="point_title_number">02</span>
                    </dt>
                    <dd class="point_detail">
                        対応履歴管理
                    </dd>
                </dl>
                <p class="point_description">
                    取引先会社ごとに対応履歴を残すメモ機能は、会社担当者と「いつ」「誰が」「どのような対応を行ったか」を記載し、あとから検索も行えますので、貴社内での情報共有に役立ちます。
                </p>
            </div>

            <div class="point_box">
                <dl class="point_question_box">
                    <dt class="point_title">
                        <span class="point_title_sub">POINT</span>
                        <span class="point_title_number">03</span>
                    </dt>
                    <dd class="point_detail">
                        CSVインポート
                    </dd>
                </dl>
                <p class="point_description">
                    会社情報をCSV形式でインポートできますので、データ手入力の手間を省けます。会社情報のリストをインポートすることで、求人企業の新規営業開拓を効率的に行うことが可能です。
                </p>
            </div>


            @Html.Partial("~/Views/Content/Partial/Item.cshtml")
</div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>