<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">データ集計</h2>
        <p class="function_detail_title_sub">通過率やリードタイムを可視化できる</p>

        <ul class="function_label_box">
            <li class="function_label">集計</li>
        </ul>
        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    求職者
                </dd>
            </dl>
            <p class="point_description">
                求職者データをクロス集計することが可能です。担当者ごとの通過率を見たり、エリアや年齢ごとに集計を取ることができます。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    求人案件
                </dd>
            </dl>
            <p class="point_description">
                求人案件データをクロス集計することが可能です。どの求人への応募が多いかを集計したり、エリアや職種ごとの求人数を集計することができます。
            </p>
        </div>
        @*<div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">03</span>
                </dt>
                <dd class="point_detail">
                    労働局帳票出力機能
                </dd>
            </dl>
            <p class="point_description">
                労働局に年一回提出する帳票（事業報告書、求職管理簿、求人管理簿、手数料管理簿）を、ボタンひとつで出力することができます。法改正によるフォーマットの変更にも無償で対応させていただきます。
            </p>
        </div>*@


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>