<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">FACEBOOK連携</h2>
        <p class="function_detail_title_sub">人材とFACEBOOKで連絡を取り合える</p>

        <ul class="function_label_box">
            <li class="function_label">90％以上がFACEBOOKを利用</li>
            <li class="function_label">メッセージの履歴が残る</li>
            <li class="function_label">案件紹介や一括メッセージ送信</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    90％以上がFACEBOOKを利用
                </dd>
            </dl>
            <p class="point_description">
                現在90％以上が「FACEBOOKを利用している」,今やコミュニケーションツールとして欠かせない存在です。<br><br>
                JAPAN WORKはメール機能とあわせてオプションでFACEBOOKで求職者にメッセージを送ることができますので、求職者とより手軽にコミュニケーションを取ることが可能です。またメールと比較して開封率が飛躍的に高いのも特徴となっております。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    メッセージの履歴が残る
                </dd>
            </dl>
            <p class="point_description">
                JAPAN WORKのFACEBOOK機能をお使いいただくことで、FACEBOOKの送受信の履歴をすべてJAPAN WORKに残すことができます。個別対応になりがちなFACEBOOKの情報を社内で共有することで、担当者間での情報共有をスムーズに行えます。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">03</span>
                </dt>
                <dd class="point_detail">
                    案件紹介や一括メッセージ送信
                </dd>
            </dl>
            <p class="point_description">
                JAPAN WORKに入力済みの求人案件を、FACEBOOKメッセージで求職者に送ることができる機能です。求人情報を手入力する必要はありませんので、メッセージ作成の時間を削減し、求職者とのコンタクト数を飛躍的にアップできます。その他、複数の求職者に一括でメッセージを送ることも可能です。
            </p>
        </div>
        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>