<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">FAX送信</h2>
        <p class="function_detail_title_sub">Job-Marketからボタン1つで人材情報をFAXできる</p>

        <ul class="function_label_box">
            <li class="function_label">会社情報登録・検索</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    ボタン１つでレジュメを送信
                </dd>
            </dl>
            <p class="point_description">
                主に医療・介護業界でニーズがあるFAXですが、Job-Marketから直接、病院・施設にレジュメを送信することができます。FAXを送信する度に、FAX機に向かう必要はなく、Job-Marketから直接送信することで誤送信を防ぐことも可能です。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>