<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">帳票出力管理</h2>
        <p class="function_detail_title_sub">貴社独自の帳票も無償で設定可能</p>

        <ul class="function_label_box">
            <li class="function_label">各種帳票出力機能</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    各種帳票出力機能
                </dd>
            </dl>
            <div class="point_description">
                JAPAN WORKでは、人材事業に必要な各種帳票をPDF形式でボタンワンクリックで出力することができます。<br><br>
                <ul class="function_list">
                    <li>・求人票</li>
                    <li>・キャリアシート</li>
                    <li>・履歴書</li>
                    <li>・推薦状</li>
                    @*<li>・事業報告書</li>*@
                    <li>・基本契約書</li>
                </ul>
                <br>
                上記以外にも、貴社独自の帳票を出力できるように設定できますので、貴社独自の帳票の作成のお手間も格段に省くことができます。
            </div>

        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>