<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">ホームページ連携</h2>
        <p class="function_detail_title_sub">ボタンひとつで貴社HPに求人掲載、応募情報も自動で取り込める</p>

        <ul class="function_label_box">
            <li class="function_label">求人掲載・応募フォームの設置</li>
            <li class="function_label">インラインフレーム</li>
            <li class="function_label">API</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    求人掲載・応募フォームの設置
                </dd>
            </dl>
            <p class="point_description">
                これからの人材業界での生き残りのためには、人材会社独自の集客経路を確立することは急務と言われています。JAPAN WORKでは、登録のある求人案件を貴社HPに自動的にアップしたり、応募のあった求職者情報をそのままJAPAN WORKに取り込むことが可能です。<br><br>
                求人案件の新規登録や更新も、JAPAN WORK内の情報の変更のみで済みますので、求人掲載や応募情報の管理に、余計な時間を費やす必要はありません。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    インラインフレーム
                </dd>
            </dl>
            <p class="point_description">
                弊社側で、求人検索・求人一覧及び詳細画面、応募フォームのフレームを作成する連携方法です。JAPAN WORK内のどの項目を貴社HPと連携するかを決定いただきましたら、約2週間程度でご提供できます。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">03</span>
                </dt>
                <dd class="point_detail">
                    API
                </dd>
            </dl>
            <p class="point_description">
                貴社HPのデザインを保ったまま、求人検索画面や応募フォームの設定が自由に可能です。求人掲載数を増やせば増やすほど、求職者の目に留まりやすくなります。SEO対策にもなり、貴社のPRにも繋がります。また、JAPAN WORKとの連携開始後も掲載項目や登録項目の変更が自由に可能です。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>