<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">インポート</h2>
        <p class="function_detail_title_sub">大量のデータもCSVの一括インポートで手入力の手間なし</p>

        <ul class="function_label_box">
            <li class="function_label">各種求人媒体連携機能</li>
        </ul>

        

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    各種求人媒体連携機能
                </dd>
            </dl>
            <p class="point_description">
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>