<link href="~/Content/css/introduce.css" rel="stylesheet" />
<style>
    .side_navi_function {
        display: none;
    }

    .grid-wrapper {
        margin-top: 95px;
        background: linear-gradient(130deg, rgba(20,31,114,1) 0%,rgba(52,65,161,1) 71%,rgba(52,65,161,1) 100%);
        color: #fff;
        padding: 0px 110px 23px 120px;
    }

    .content_wrap {
        background: #f6f6f6;
    }

    h2 {
        font-size: 35px;
    }
    .p-m-card-text{
        font-weight:bold;
    }
    .u-mbmd {
        font-size: 18px;
        font-weight: bold;
        padding: 0px 110px
    }

    .function_detail_width_wrap {
        max-width: 1455px;
        margin: 0 auto;
        background-color: #fff;
    }

    .main-content, .content-header {
        max-width: 1065px;
        margin: 0 auto;
        display: grid;
    }

    .h2-custom::after {
        border-bottom-color: #e60012;
    }

    .h2-custom {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    /*.item-left, .item-right {
        display: flex;
    }*/

    .item-left img, .item-right img {
        width: 250px;
        object-fit: cover;
    }

    .item-left img {
        float: right;
    }

    .item-right img {
        float: left;
    }

    .item-left .c-heading, .item-right .c-heading, .title {
        color: #e8412e;
        font-size: 40px;
        font-weight: bold;
    }

    .item-left .content, .item-right .content {
        margin-top: 64px;
    }

    .item-left .p-m-card-text, .item-right .p-m-card-text {
        max-width: 520px;
        font-weight: bold;
        text-align: justify;
    }

    .col-md-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
        float: left
    }

    .number-content {
        font-size: 17px;
        font-weight: bold;
        padding: 10px;
        margin-left: 22px;
    }

    .c-wrapper--sm {
        max-width: 720px;
    }
    .padding_canceler .c-heading--bdr-btm, .padding_canceler .c-heading--bdr-thin-btm {
    border-bottom-color: #e60012;
    }
    .padding_canceler .c-border {
    border-color: #e60012;
}
    .funct-list{
        padding-left: 20px;
    }

    .funct-list li {
        padding: 4px;
        font-weight: bold;
        font-size: 16px;
    }

    .funct-list .u-clearfix{
        display:flex;
    }

    .funct-list .u-float-left{
        margin-right:10px;
    }

    .m_form *{
        font-weight:bold;
    }
    .image img{
        width:100px;
    }
</style>
<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">
        <div class="grid-wrapper">
            <div class="content-header">
                <div class="c-heading c-heading--lg u-mblg u-color-white pera1-removable">
                    <h2 class="pera1-editable">自社オリジナルシステム導入プラン</h2>
                </div>
                <div class="u-mbmd u-color-white pera1-removable">
                    <div class="pera1-editable">
                        システム導入プランはお客様独自のマッチングサイトを立ち上げ、求人募集、求職者の募集を行うことができます。
                        お客様の人材事業のブランディング化、求職者への知名度アップなどを狙うことができます。
                        システム導入プランは成功報酬費用完全無料でご利用いただけます。<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <br />
            <br />

            <div class="row">
            </div>
            <div class="col-md-12">
                <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
                    <div class="c-wrapper u-align-center">
                        <div class="p-heading__inner">
                            <div class="c-heading p-heading-btm-bdr">
                                <h2 class="pera1-editable h2-custom" style="padding-bottom:0px;"><span data-custom-pc-fontsize="32px"><strong><span style="color: #e8412e;" data-mce-style="color: #e8412e;">特徴</span></strong></span></h2>
                                <div class="" style="border-bottom:2px solid red; width:70px;margin:0 auto;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 item-left">
                <div class="col-md-5">
                    <img src="~/Content/img/characteristic/characteristic_1.png" />
                </div>
                <div class="col-md-7 content">
                    <div class="c-heading pera1-removable">
                        <div class="pera1-editable"><strong><span>人材紹介費無料</span></strong></div>
                    </div>
                    <div class="p-m-card-text start-xs pera1-removable">
                        <div class="pera1-editable">弊社はシステム運用会社になりますので、お客様がシステムを介して人材を獲得できた際にかかる人材紹介費は完全無料となります。</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 item-right">
                <div class="col-md-7 content">
                    <div class="c-heading pera1-removable float-right">
                        <div class="pera1-editable"><strong><span>高ブランディング</span></strong></div>
                    </div>
                    <div class="p-m-card-text start-xs pera1-removable float-right">
                        <div data-structure="e-text" class="pera1-editable">
                            お客様のHPやマッチングサイトとして、ご利用がいただけるので、受入企業や求職者へのイメージアップや認知度アップに繋がります。
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="~/Content/img/characteristic/characteristic_2.png" />
                </div>
            </div>
            <div class="col-md-12 item-left">
                <div class="col-md-5">
                    <img src="~/Content/img/characteristic/characteristic_3.png" />
                </div>
                <div class="col-md-7 content">
                    <div class="c-heading pera1-removable">
                        <div class="pera1-editable"><strong><span>データ管理効率化</span></strong></div>
                    </div>
                    <div class="p-m-card-text start-xs pera1-removable">
                        <div data-structure="e-text" class="pera1-editable">
                            受入企業と求職者のデータの情報管理ができますので、時間コスト削減に役立ちます。</br>
                            受入企業と求職者とのやり取りもデータ管理ができますので、スムーズにやり取りをすることができます。
                        </div>
                    </div>
                </div>
            </div>

			<br/>
			<br/>
			<br/>
            <div class="col-md-12">
                <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
                    <div class="c-wrapper u-align-center">
                        <div class="p-heading__inner">
                            <div class="c-heading p-heading-btm-bdr">
                                <h2 class="pera1-editable h2-custom" style="padding-bottom:0px"><span data-custom-pc-fontsize="32px"><strong><span style="color: #e8412e;" data-mce-style="color: #e8412e;">導入の流れ</span></strong></span></h2>
                                <div class="" style="border-bottom:2px solid red; width:70px;margin:0 auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="col-md-12 text-center">
                <div class="col-md-2">
                    <div class="image"> <img src="~/Content/img/Step/step1.png" /></div>
                    <div class="number-content">
                        お問合せ<br />
                        相談
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="image"> <img src="~/Content/img/Step/step2.png" /></div>
                    <div class="number-content">
                        ヒアリング<br />
                        システムデモ
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="image"> <img src="~/Content/img/Step/step3.png" /></div>
                    <div class="number-content">
                        ご提案<br />
                        お見積り
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="image"> <img src="~/Content/img/Step/step4.png" /></div>
                    <div class="number-content">
                        会員登録<br />
                        ご契約
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="image"> <img src="~/Content/img/Step/step5.png" /></div>
                    <div class="number-content">
                        システム<br/>
                        導入
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="image"> <img src="~/Content/img/Step/step6.png" /></div>
                    <div class="number-content">
                        サポート開始
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
