<link href="~/Content/css/introduce.css" rel="stylesheet" />
<style>
    .side_navi_function {
        display: none;
    }

    .grid-wrapper {
        margin-top: 95px;
        background: linear-gradient(130deg, rgba(20,31,114,1) 0%,rgba(52,65,161,1) 71%,rgba(52,65,161,1) 100%);
        color: #fff;
        padding: 0px 110px 23px 120px;
    }

    .content_wrap {
        background: #f6f6f6;
    }

    h2 {
        font-size: 35px;
    }
    .p-m-card-text{
        font-weight:bold;
		text-align:left;
    }
    .u-mbmd {
        font-size: 18px;
        font-weight: bold;
        padding: 0px 110px
    }

    .function_detail_width_wrap {
        max-width: 1455px;
        margin: 0 auto;
        background-color: #fff;
    }

    .main-content, .content-header {
        max-width: 1065px;
        margin: 0 auto;
        display: grid;
    }

    .h2-custom::after {
        border-bottom-color: #e60012;
    }

    .h2-custom {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    /*.item-left, .item-right {
        display: flex;
    }*/

    .item-left img, .item-right img {
        width: 250px;
        object-fit: cover;
    }

    .item-left img {
        float: right;
    }

    .item-right img {
        float: left;
    }

    .item-left .c-heading, .item-right .c-heading, .title {
        color: #e8412e;
        font-size: 40px;
        font-weight: bold;
    }

    .item-left .content, .item-right .content {
        margin-top: 64px;
    }

    .item-left .p-m-card-text, .item-right .p-m-card-text {
        max-width: 520px;
        font-weight: bold;
        text-align: justify;
    }

    .col-md-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
        float: left
    }

    .number-content {
        font-size: 17px;
        font-weight: bold;
        padding: 10px;
        margin-left: 22px;
    }

    .c-wrapper--sm {
        max-width: 720px;
    }
    .padding_canceler .c-heading--bdr-btm, .padding_canceler .c-heading--bdr-thin-btm {
    border-bottom-color: #e60012;
    }
    .padding_canceler .c-border {
    border-color: #e60012;
}
    .funct-list{
        padding-left: 20px;
    }
    .img img{
        width:36%;
    }
    .funct-list li {
        padding: 4px;
        font-weight: bold;
        font-size: 16px;
    }

    .funct-list .u-clearfix{
        display:flex;
    }

    .funct-list .u-float-left{
        margin-right:10px;
    }

    .m_form *{
        font-weight:bold;
    }
</style>
<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">
        <div class="grid-wrapper">
            <div class="content-header">
                <div class="c-heading c-heading--lg u-mblg u-color-white pera1-removable">
                    <h2 class="pera1-editable">ベトナム人材最大のネットワーク</h2>
                </div>
                <div class="u-mbmd u-color-white pera1-removable">
                    <div class="pera1-editable">JAPAN WORKはマッチングサイト最大のベトナム人人材に特化した人材マッチングサービスになります。人材紹介会社様にかかる手数料を業界最安値、外国人雇用の手続きを全てサポートさせていただきます。<br></div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="col-md-12">
                <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
                    <div class="c-wrapper u-align-center">
                        <div class="p-heading__inner">
                            <div class="c-heading p-heading-btm-bdr">
                                <h2 class="pera1-editable h2-custom" style="padding-bottom:0px;"><span data-custom-pc-fontsize="32px"><strong><span style="color: #e8412e;" data-mce-style="color: #e8412e;">特徴</span></strong></span></h2>
                                <div class="" style="border-bottom:2px solid red; width:70px;margin:0 auto;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 item-left">
                <div class="col-md-5">
                    <img src="~/Content/img/characteristic/characteristic_1.png" />
                </div>
                <div class="col-md-7 content">
                    <div class="c-heading pera1-removable">
                        <div class="pera1-editable"><strong><span>優秀な人材が豊富</span></strong></div>
                    </div>
                    <div class="p-m-card-text start-xs pera1-removable">
                        <div class="pera1-editable">
                            弊社独自のサービスの日本語学習サービス、就職サポートサービスを通じて、在日のベトナム人、ハノイ国家大、ハノイ工業大、ハノイ土木大、各日本語センターの優秀な人材にアプローチすることができます。</br>
                            AIを駆使したシステムで外国人人材に適した受け入れ企業が推奨されます。
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 item-right">
                <div class="col-md-7 content">
                    <div class="c-heading pera1-removable float-right">
                        <div class="pera1-editable"><strong><span>負担なしリスクなし求人掲載</span></strong></div>
                    </div>
                    <div class="p-m-card-text start-xs pera1-removable float-right">
                        <div data-structure="e-text" class="pera1-editable">
                            マッチングが成立するまで、初期費用、登録費用、掲載費用全ての費用を無料でご利用いただけます。
                            成果報酬の費用に対しても、業界最安値をお約束いたします。</br>
                            求人掲載は無制限で掲載することができます。更に求人の言語翻訳も弊社サポーターが無償で担当させていただきます。
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="~/Content/img/characteristic/characteristic_2.png" />
                </div>
            </div>
            <div class="col-md-12 item-left">
                <div class="col-md-5">
                    <img src="~/Content/img/characteristic/characteristic_3.png" />
                </div>
                <div class="col-md-7 content">
                    <div class="c-heading pera1-removable">
                        <div class="pera1-editable"><strong><span>面倒な手続き不要</span></strong></div>
                    </div>
                    <div class="p-m-card-text start-xs pera1-removable">
                        <div data-structure="e-text" class="pera1-editable">
                            外国人人材を取り扱いがなく不安、書類作成が面倒という場合でも、面倒な手続き等はこちらで全てサポートさせていただきます。
                            お客様は新たに無駄な手続きをすることなく優秀な人材を手に入れることができます。
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 item-right">
                <div class="col-md-7 content">
                    <div class="c-heading pera1-removable">
                        <div class="pera1-editable"><strong><span>求職者ステータスの開示</span></strong></div>
                    </div>
                    <div class="p-m-card-text start-xs pera1-removable">
                        <div data-structure="e-text" class="pera1-editable font-size-16px">求職者のステータスは、プロフィール、日本語レベル、仕事の経験、資格等が詳しく反映されますので効率的に求職者を見て、判別することができます。</div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="~/Content/img/characteristic/characteristic_4.png" />
                </div>
            </div>

            <div class="col-md-12">
                <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
                    <div class="c-wrapper u-align-center">
                        <div class="p-heading__inner">
                            <div class="c-heading p-heading-btm-bdr">
                                <h2 class="pera1-editable h2-custom" style="padding-bottom:0px">
                                    <span data-custom-pc-fontsize="32px"><strong><span style="color: #e8412e;" data-mce-style="color: #e8412e;">採用の流れ</span></strong></span>
                                </h2>
                                <div class="" style="border-bottom:2px solid red; width:70px;margin:0 auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="col-md-12">
                <div class="col-md-4 text-center">
                    <div class="img">
                        <img src="~/Content/img/Step/step1.png" />
                    </div>
                    <div class="c-heading title">
                        求人を掲載
                    </div>
                    <div class="p-m-card-text">
                        <div data-structure="e-text" class="pera1-editable">
                            日本語レベル、必要資格、学歴、職歴等、詳細に人材の条件を設定できるので、求める人材からカンタンに応募を受けることができます。<br/>
							また、検索をかけて求職者にスカウトをかけることもできます。<br/>
                            求人掲載の入力代行、外国語翻訳もこちらで行うので、操作方法がわからなくてもご利用可能です。
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="img">
                        <img src="~/Content/img/Step/step2.png" />
                    </div>
                    <div class="c-heading title">
                        面接の設定
                    </div>
                    <div class="p-m-card-text">
                        <div data-structure="e-text" class="pera1-editable">
                            外国人人材から求人への応募があったら、面接を設定することができます。<br/>
							Skype等を使ってオンライン面接が可能なので、現地に出向く必要もございません。<br/>
							また、日本語レベルが少し不自由な人材でも、弊社サポーターが面接も同行させていただきます。
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="img">
                        <img src="~/Content/img/Step/step3.png" />
                    </div>
                    <div class="c-heading title">
                        書類の作成
                    </div>
                    <div class="p-m-card-text">
                        <div data-structure="e-text" class="pera1-editable">
                            実際に雇うことになったら、様々なビザ申請書類作成＆提出が必要になります。<br/>
                            必要な書類作成＆提出はこちらで全て作成しサポートさせていただきます。<br/>
                            また外国人人材とのコミュニケーションも不明点や不安点がないようサポートいたします。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-12">
                <div class="c-bg-img c-bg-img--cover pera1-bg-editable lazyloaded" style="background-image: url('/Content/img/introduce//bg1.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="9" data-bg="url('//cdn.peraichi.com/userData/5d879abb-66c8-4378-bb55-359e0a0000c5/img/5d87af3a9ed3f/original.jpg')">
                    <div class="c-wrapper">
                        <div class="c-inner c-inner--lg c-inner--vertical" style="padding-top: 50px;padding-bottom: 50px;">
                            <div class="p-premium-form" style="width:700px;margin:0 auto;background-color:#fff">
                                <div class="p-premium-form__inner c-inner c-inner--lg c-inner--vertical">
                                    <div class="c-heading c-heading--block-main u-align-center u-mbmd pera1-removable">
                                        <h2 style="font-weight:bold;font-size:35px;" data-structure="e-heading" class="pera1-editable"><span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;"><strong>お問合せ・相談はこちら</strong></span></h2>
                                    </div>

                                    <div style="border-bottom:2px solid red;width:93%;margin:0 auto;"></div>
                                    <br />

                                    <div class="c-form m_form" style="padding:15px;">
                                        <form class="pera1-form" id="customform" method="post" action="/posts/complete" novalidate="true">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label hp">会社名</label>
                                                <div class="col-sm-12 form_inputs hp">
                                                    <input type="text" class="form-control form_input" name="message">
                                                </div>
                                            </div>
                                            <div class="pera1-editable" data-pera1-type="custom_form">
                                                <div class="form">
                                                    <div class="form-group" data-elem-name="formInputCustomText">
                                                        <label class="col-sm-3 control-label customFormGroup_ttl_required">会社名</label>
                                                        <div class="col-sm-12 form_inputs">
                                                            <input class="form-control form_input" type="text" placeholder="○○株式会社" name="userData[会社名]" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" data-elem-name="formInputCustomText">
                                                        <label class="col-sm-3 control-label customFormGroup_ttl_required">お名前</label>
                                                        <div class="col-sm-12 form_inputs">
                                                            <input class="form-control form_input" type="text" placeholder="サンプル 太郎" name="userData[お名前]" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" data-elem-name="formInputCustomText">
                                                        <label class="col-sm-3 control-label customFormGroup_ttl">お電話番号</label>
                                                        <div class="col-sm-12 form_inputs">
                                                            <input class="form-control form_input" type="text" placeholder="080-xxxx-xxxx" name="userData[お電話番号]">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" data-elem-name="formInputCustomText">
                                                        <label class="col-sm-3 control-label customFormGroup_ttl_required">メールアドレス</label>
                                                        <div class="col-sm-12 form_inputs">
                                                            <input class="form-control form_input" type="email" placeholder="xxxx@example.com" name="userData[メールアドレス]" required="required">
                                                        </div>
                                                        <input type="hidden" value="メールアドレス" name="system[replyToKey]">
                                                    </div>
                                                    <div class="form-group" data-elem-name="formInputCustomText">
                                                        <label class="col-sm-3 control-label customFormGroup_ttl_required">ご質問内容</label>
                                                        <div class="col-sm-12 form_inputs">
                                                            <input class="form-control form_input" type="text" placeholder="" name="userData[ご質問内容]" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="form-captcha-wrap">
                                                <div class="pera1-captcha-wrap form-captcha" style="">
                                                    <div class="pera1-captcha-center-container js-pera1-form-captcha" style="display: flex;align-items: center;">
                                                        <label style=""><i class="form-captcha-icon-check"></i>私はロボットではありません</label>
                                                    </div>
                                                </div>
                                            </div>*@
                                            <div></div>
                                            <div class="u-align-center">
                                                <div class="form-group" data-elem-name="formInputCustomText">
                                                    <div class="col-sm-12 form_inputs text-center">
                                                        <input class="form_input btn btn-danger" type="button" placeholder="サンプル 太郎" name="userData[お名前]" value="サンプル 太郎">
                                                    </div>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
