<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">請求書発行</h2>
        <p class="function_detail_title_sub">請求書もボタンワンクリックで作成、入金の消込まで可能</p>

        <ul class="function_label_box">
            <li class="function_label">請求書発行承認</li>
            <li class="function_label">請求書出力</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    請求書発行承認
                </dd>
            </dl>
            <p class="point_description">
                請求書発行の申請⇒申請許可・差し戻しまでのワークフローを管理できます。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    請求書出力
                </dd>
            </dl>
            <p class="point_description">
                登録された売上データに基づいて、ボタンワンクリックで請求書を作成できます。会社名や請求金額、求職者の名前も自動的に入りますので、手入力のお手間は一切不要です。請求書の種類は標準テンプレート以外にも、貴社独自のフォーマットのご利用も可能です。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>