<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">求人案件管理</h2>
        <p class="function_detail_title_sub">各種求人媒体への案件掲載や求人票の出力が可能</p>

        <ul class="function_label_box">
            <li class="function_label">求人案件登録・検索</li>
            <li class="function_label">データエクスポート</li>
            <li class="function_label">求人票管理・検索</li>
            <li class="function_label">求人票出力</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    求人案件登録・検索
                </dd>
            </dl>
            <p class="point_description">
                求人案件が自由に管理できます。JAPAN WORKの項目は貴社側の要望応じて追加・削除・順番の入れ替えができるため、貴社専用の求人案件の管理画面を作成する事が可能です。
            </p>
        </div>

        @*<div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    データエクスポート
                </dd>
            </dl>
            <p class="point_description">
                エン、イーキャリアFA、マイナビ、はたらこ等を含む主要な求人媒体に、JAPAN WORK内の求人データをそのまま掲載することが可能です。<br><br>
                複数の求人媒体に、同じ求人情報を掲載するために、何度も同じ入力作業を繰り返すのは時間も労力も非常に割かれます。求人掲載のスピードをアップし、掲載モレによる求職者の登録率減少を防ぐためにも非常に有効な機能です。
            </p>
        </div>*@

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    求人票管理・検索
                </dd>
            </dl>
            <p class="point_description">
                「あの求人案件、どのお客様の案件だっただろう？」喉元まで出てきているのに、求人案件がなかなか思い出せなかった経験はございませんか？JAPAN WORKでは、CSVのファイルの形式で送られてくる求人票を取り込んでおきさえすれば、その中身まで検索することができます。<br><br>
                ファイルの取り込みもボタンひとつ、これで無駄な求人票の手入力は一切不要になります。この機能により貴社の求人案件は、いつでもモレなく検索することが可能となります。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">03</span>
                </dt>
                <dd class="point_detail">
                    求人票出力
                </dd>
            </dl>
            <p class="point_description">
                求職者との面談の際、求人を紹介するために、求人票をプリントアウトしてお渡しすることがありますよね。その際、求人票を毎回作成していらっしゃいませんか？JAPAN WORKでは、求人案件をPDF帳票形式で出力することができます。<br><br>
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>