<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">地図機能</h2>
        <p class="function_detail_title_sub">人材や求人の住所を地図で見ながら視覚的にマッチング</p>

        <ul class="function_label_box">
            <li class="function_label">地図マッチング機能</li>
            <li class="function_label">○○分以内検索</li>
            <li class="function_label">経路検索</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    地図マッチング機能
                </dd>
            </dl>
            <p class="point_description">
                求職者・求人案件をマッチングする際に、JAPAN WORK内の登録住所のデータを使って地図上で視覚的にマッチングすることが可能です。<br><br>
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    ○○分以内検索
                </dd>
            </dl>
            <p class="point_description">
                ある特定の住所から、交通機関を指定して、○○分以内で到達可能な会社や施設を検索することができます。電車やバス、車など主要な交通機関が指定可能です。<br><br>
                求職者・求人のマッチングの場面以外にも、担当者様の外回りでの営業を効率的に行うために、活用いただくケースもございます。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">03</span>
                </dt>
                <dd class="point_detail">
                    経路検索
                </dd>
            </dl>
            <p class="point_description">
                求職者の住所から、該当の就業先まで、どの路線でどれくらいの時間がかかるのかを自動計算できます。別アプリを立ち上げて改めて検索する作業が不要になり、マッチングが効率的になります。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>