<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">マッチング</h2>
        <p class="function_detail_title_sub">『高速』『高精度』なマッチング</p>

        <ul class="function_label_box">
            <li class="function_label">求人案件</li>
            <li class="function_label">求職者</li>
            <li class="function_label">マッチング登録</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    求人案件
                </dd>
            </dl>
            <p class="point_description">
                応募のあった求職者にマッチする求人案件を、求職者の情報を元にカンタンに探すことができますのでマッチングのモレ防止にも繋がります。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    求職者
                </dd>
            </dl>
            <p class="point_description">
                求人案件にマッチする求職者を、求人情報を元にカンタンに探すことができます。なお、マッチング検索は求職者が提出したレジュメから取り込んだデータも対象となりますので、該当のすべての求職者にモレなくマッチングを行えます。
            </p>
        </div>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">03</span>
                </dt>
                <dd class="point_detail">
                    マッチング登録
                </dd>
            </dl>
            <p class="point_description">
                求職者・求人案件それぞれで、マッチング検索を行った結果を保存できる機能です。マッチングの結果はいつでも確認ができますので紹介のモレを防ぐことが可能です。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>