<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">売上管理</h2>
        <p class="function_detail_title_sub">売上金額は自動計算、各担当者別の売上などの集計も可能</p>

        <ul class="function_label_box">
            <li class="function_label">売上登録・検索機能</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    売上登録・検索機能
                </dd>
            </dl>
            <p class="point_description">
                年収・料率・その他手数料の入力により、売上金額を自動計算します。担当者や入社日などによる、売上の検索も詳細に行えます。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>