<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">スケジュール機能</h2>
        <p class="function_detail_title_sub">面談・来客・訪問予定も一元管理可能</p>

        <ul class="function_label_box">
            <li class="function_label">見やすいスケジュール</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    スケジュール機能
                </dd>
            </dl>
            <p class="point_description">
                貴社社員様の営業や来客・その他のスケジュールを管理できます。JAPAN WORKで面談の予定を入力すると、自動的にスケジュールにも反映されます。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>