<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">SMS送信</h2>
        <p class="function_detail_title_sub">JAPAN WORKからボタンひとつで携帯番号宛にメッセージを送信できる</p>

        <ul class="function_label_box">
            <li class="function_label">開封率の高さ</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    開封率の高さ
                </dd>
            </dl>
            <p class="point_description">
                JAPAN WORKは標準のメール機能とあわせて、携帯番号宛に直接メッセージを送信するSMSもご利用いただけます。メールの開封率が20％まで落ち込んでいると言われる昨今、開封率が80%を超えるショートメッセージは求職者とのコミュニケーションを活発化する有用な機能です。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>