<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">会社担当者管理</h2>
        <p class="function_detail_title_sub">会社担当者の連絡先や対応履歴を管理可能</p>

        <ul class="function_label_box">
            <li class="function_label">営業メモ</li>
            @*<li class="function_label">役職・連絡先の管理</li>*@
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    営業メモ
                </dd>
            </dl>
            <p class="point_description">
                「あの電話のメモをなくしてしまった！」「メールが多すぎてメールボックスから取引先とのメールのやり取りが掘り出せない...」このような経験はございませんか？<br><br>
                JAPAN WORKでは、貴社の担当者様とお取引先の担当者様との電話・メールの履歴を管理することができます。単にメールの履歴を管理するだけでなく、JAPAN WORKからご取引先の担当者様にメールを直接送信することも可能であり、貴社の迅速な対応を強力にサポートします。
            </p>
        </div>

        @*<div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">02</span>
                </dt>
                <dd class="point_detail">
                    役職・連絡先の管理
                </dd>
            </dl>
            <p class="point_description">
                契約書やパンフレットなどの書類を会社ごとに分けて保存が可能です。
            </p>
        </div>*@


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>

    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>