<div class="padding_canceler col-md-12">
    <div class="function_detail_width_wrap">

        <h2 class="function_detail_title">タスク管理</h2>
        <p class="function_detail_title_sub">細かいタスクも期日と一緒に管理できて、対応漏れ防止に</p>

        <ul class="function_label_box">
            <li class="function_label">タスク管理機能</li>
        </ul>

        <div class="point_box">
            <dl class="point_question_box">
                <dt class="point_title">
                    <span class="point_title_sub">POINT</span>
                    <span class="point_title_number">01</span>
                </dt>
                <dd class="point_detail">
                    タスク管理機能
                </dd>
            </dl>
            <p class="point_description">
                お知らせ機能の搭載や、未完了のタスクの表示により、タスクの漏れが防げます。
            </p>
        </div>


        @Html.Partial("~/Views/Content/Partial/Item.cshtml")
    </div>
    @Html.Partial("~/Views/Content/Partial/MenuReponsive.cshtml")
</div>