<br />
<br />
<div>
    <pre>
    <code>
            <b>Link: http://192.168.2.25:8080/api/user/checkpwd2isvalid </b>
            
            Json data:
            {
                "Pwd": "e10adc3949ba59abbe56e057f20f883e",
                "UserId": "0066f16f-ea89-4130-a4cf-04fcf6286976",
                "Time": "20170816140300",
                "Token": "84103c7f1caa158bbb461ffa28c4767b"
            }

            **Note:  
                + Your time could not be less than 24 hours (Compare with current datetime)
                + Pwd: MD5
            _____________________________________________________________________________________
    </code>
    </pre>
</div>