<br />
<br />
<div>
    <h4>1. Create OTP</h4>
    <pre>
    <code>
            <b>Link: http://192.168.2.25:8080/api/user/createotp </b>
            
            Json data:
            { 
             "UserId": "0cef0d84-d4fc-4055-bfe5-c4cce68ce666",
             "Time": "20170801085600",
             "Token": "35ff2d53e0eec401a6e7541eab180824"
            }

            **Note: Your time could not be less than 24 hours (Compare with current datetime)
            _____________________________________________________________________________________
    </code>
    </pre>
</div>
<div>
    <h4>2. Verify OTP</h4>
    <pre>
    <code>
            <b>Link: http://192.168.2.25:8080/api/user/verifyotp </b>
            
            Json data:
            { 
             "UserId": "0cef0d84-d4fc-4055-bfe5-c4cce68ce666",
             "Time": "20170801135900",
             "Token": "35ff2d53e0eec401a6e7541eab180824",
             "OTPCode": "97209",
             "Action": "changepwd"
            }

            **Note: Your time could not be less than 24 hours (Compare with current datetime)
            _____________________________________________________________________________________
    </code>
    </pre>
</div>