<br />
<br />
<div>
    <pre>
        <code>
        <b>Link: http://192.168.2.25:8080/api/user/recoverpassword </b>
            
            Json data:
            { 
                "UserId": "1c25dab4-aaf4-40cc-bf6b-c899d7ddb6a4",
                "Time": "20170830083800",
                "Password": "4297f44b13955235245b2497399d7a93",        //(Md5 encrypted)
                "RePassword": "4297f44b13955235245b2497399d7a93",      //(Md5 encrypted)
                "PwdType": "level2",
                "QuestionId": "EMAIL",
                "Answer": "",
                "Hash": "d6139a01db7c3573736c2f1c457cd8a6"
            }

            **Note: 
                + Your time could not be less than 24 hours (Compare with current datetime)
                + Your hash data: MD5(<MD5(password)>|<MD5(repassword)>|<time>|< pwdType>|<questionID>)
                + QuestionId: EMAIL, OTPSMS, ODPSMS, OTPAPP, ODPAPP or ID of security question
            _____________________________________________________________________________________
    </code>
    </pre>
</div>