@using ApiJobMarket.DB.Sql.Entities
@using MySite.Helpers
@using MySite.Resources
@model List<IdentityRegion>

@{
    var hasData = Model.HasData();
}

@if (hasData)
{
    foreach (var item in Model)
    {
        <option value="@item.id">@item.furigana (@item.region)</option>
    }
}