@using ApiJobMarket.DB.Sql.Entities
@using MySite.Helpers
@using MySite.Resources
@model List<IdentityTrainLine>

@{
    var hasData = Model.HasData();
}

<option value="0">@UserWebResource.LB_SELECT_TRAIN_LINE</option>
@if (hasData)
{
    foreach (var item in Model)
    {
        <option value="@item.id">@item.furigana (@item.train_line)</option>
    }
}