@using MySite.Resources

<div class="login hidden-sm hidden-md hidden-lg mb10 mt15">
    <i class="icon icon-signout"></i>
    <span class="text-medium col-md-8 col-sm-7">@UserWebResource.LB_SIGN_IN_TO_COMMENT</span>
    <a href="/WebAuth/Login" class="btn btn-primary-hl col-md-4 col-sm-5">@UserWebResource.BT_LOGIN</a>
    <div class="clearfix"></div>
</div>