<div class="header">
    <div class="container" style="margin-bottom: -15px;">
        <!-- Logo -->
        <a class="logo" href="index.html" style="vertical-align: unset">
            <img src="~/Content/themes/unify/assets/img/logo1-default.png" alt="Logo" style="margin-top:10px">
        </a>
        <!-- End Logo -->
        <!-- Topbar -->
        <div class="topbar">
            @Html.Partial("_LanguagesList")
        </div>
        <!-- End Topbar -->
    </div><!--/end container-->
</div>