.contact_img_wrap {
  background: url(../img/contact/bg_contact_main.jpg) center center no-repeat no-repeat;
  background-size: cover; }

@media (min-width: 768px) {
  .contact_content_wrap {
    padding: 0 100px 80px; } }

@media (min-width: 768px) {
  .contact_title {
    padding: 0 0 40px;
    font-size: 36px; } }
@media (max-width: 767px) {
  .contact_title {
    padding: 0 0 60px; } }

.contact_menu_position_wrap {
  position: relative; }
  @media (max-width: 767px) {
    .contact_menu_position_wrap {
      text-align: center; } }

.contact_menu_wrap {
  border-bottom: 1px solid #c27d3f;
  display: inline-block;
  cursor: pointer; }
  .contact_menu_wrap .contact_select_list {
    display: none;
    position: absolute;
    background-color: #c27d3f;
    color: #ffffff;
    z-index: 1;
    width: 260px;
    pointer-events: auto;
    left: 0; }
    .contact_menu_wrap .contact_select_list li:hover {
      background-color: #a36227;
      cursor: pointer; }
  @media (min-width: 768px) {
    .contact_menu_wrap {
      margin-bottom: 100px;
      padding-top: 32px; }
      .contact_menu_wrap .contact_select_list {
        top: 80px;
        padding: 32px 0; }
        .contact_menu_wrap .contact_select_list li {
          font-size: 24px;
          padding: 16px 20px; } }
  @media (max-width: 767px) {
    .contact_menu_wrap {
      margin-bottom: 60px;
      padding-top: 20px; }
      .contact_menu_wrap .contact_select_list {
        top: 56px;
        right: 0;
        margin: auto;
        padding: 16px 0; }
        .contact_menu_wrap .contact_select_list li {
          font-size: 18px;
          padding: 12px 16px; } }

.contact_select_title, .contact_select_arrow {
  color: #c27d3f; }
  @media (min-width: 768px) {
    .contact_select_title, .contact_select_arrow {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .contact_select_title, .contact_select_arrow {
      font-size: 24px; } }

.contact_item {
  border-top: 1px solid #eeeeee;
  display: flex; }
  .contact_item .contact_item_title {
    display: flex;
    align-items: center;
    margin-right: 60px; }
    .contact_item .contact_item_title label {
      margin-bottom: 0;
      font-weight: bold; }
  @media (min-width: 768px) {
    .contact_item {
      padding: 24px 0; }
      .contact_item .contact_item_title {
        font-size: 16px;
        width: 40%;
        margin-right: 60px; }
      .contact_item .contact_about, .contact_item .contact_interest_service, .contact_item .contact_ditail {
        align-items: flex-start; } }
  @media (max-width: 767px) {
    .contact_item {
      flex-direction: column;
      padding: 16px 0; }
      .contact_item .contact_item_title {
        font-size: 16px;
        margin-bottom: 12px; } }

.contact_item_content {
  font-size: 14px; }
  .contact_item_content input[type="text"], .contact_item_content textarea {
    width: 100%;
    background-color: #fffcd2;
    border: 1px solid #eeeeee; }
  .contact_item_content textarea {
    height: 180px; }
  .contact_item_content input[type="checkbox"] {
    display: none; }
    .contact_item_content input[type="checkbox"]:checked + .select_service_label:before, .contact_item_content input[type="checkbox"]:checked + .select_contact_label:before {
      opacity: 1; }
  .contact_item_content .contact_item_select {
    border: 0;
    outline: 1px solid #dddddd;
    outline-offset: -1px;
    background-color: #ffffff;
    width: 100%;
    height: 47px; }
  .contact_item_content .select_service_label, .contact_item_content .select_contact_label {
    position: relative;
    padding: 0 0 0 24px;
    font-size: 14px; }
    .contact_item_content .select_service_label:hover, .contact_item_content .select_contact_label:hover {
      cursor: pointer; }
    .contact_item_content .select_service_label:after, .contact_item_content .select_service_label:before, .contact_item_content .select_contact_label:after, .contact_item_content .select_contact_label:before {
      position: absolute;
      content: "";
      display: block;
      top: 50%; }
    .contact_item_content .select_service_label:after, .contact_item_content .select_contact_label:after {
      left: 0;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      border: 1px solid #dddddd; }
    .contact_item_content .select_service_label:before, .contact_item_content .select_contact_label:before {
      opacity: 0; }
    .contact_item_content .select_service_label:before, .contact_item_content .select_contact_label:before {
      left: 5px;
      margin-top: -7px;
      width: 6px;
      height: 12px;
      border-right: 2px solid #c27d3f;
      border-bottom: 2px solid #c27d3f;
      transform: rotate(45deg); }
  @media (min-width: 768px) {
    .contact_item_content {
      width: 60%; }
      .contact_item_content input, .contact_item_content textarea, .contact_item_content select {
        padding: 12px;
        font-size: 14px; } }
  @media (max-width: 767px) {
    .contact_item_content {
      width: 100%; }
      .contact_item_content input, .contact_item_content textarea {
        padding: 12px 8px;
        font-size: 14px; } }

.contact_select_service:last-child .select_service_label, .contact_select_service:last-child .select_contact_label, .select_contact_label:last-child .select_service_label, .select_contact_label:last-child .select_contact_label {
  margin-bottom: 0; }

.contact_submit_button {
  width: 100%;
  cursor: pointer; }
  @media (min-width: 768px) {
    .contact_submit_button {
      margin-top: 36px;
      padding: 12px 0;
      font-size: 28px; } }
  @media (max-width: 767px) {
    .contact_submit_button {
      margin-top: 24px;
      padding: 16px 0;
      font-size: 24px; } }

.contact_logo {
  background-color: #333333;
  padding: 16px; }
  .contact_logo img {
    width: 160px; }

.required {
  font-size: 14px;
  background-color: #e62140;
  color: #ffffff;
  padding: 2px 4px; }
  @media (min-width: 768px) {
    .required {
      margin-left: auto; } }
  @media (max-width: 767px) {
    .required {
      margin-left: 16px; } }

.any {
  font-size: 14px;
  background-color: #7d7d7d;
  color: #ffffff;
  padding: 2px 4px; }
  @media (min-width: 768px) {
    .any {
      margin-left: auto; } }
  @media (max-width: 767px) {
    .any {
      margin-left: 16px; } }

.contact_caution {
  color: #aaaaaa;
  font-size: 13px;
  text-indent: -1em;
  padding-left: 1em; }

.contact_policy_warp {
  border-top: 1px solid #eeeeee; }
  .contact_policy_warp a {
    color: #c27d3f; }
    .contact_policy_warp a:hover {
      color: #a36227;
      text-decoration: underline; }
  @media (min-width: 768px) {
    .contact_policy_warp {
      padding-top: 24px; } }
  @media (max-width: 767px) {
    .contact_policy_warp {
      padding-top: 44px;
      font-size: 13px; } }

.contact_select_about_wrap {
  display: flex; }
  @media (min-width: 768px) {
    .contact_select_about_wrap .contact_select_service:nth-child(n+2) {
      margin-left: 40px; } }
  @media (max-width: 767px) {
    .contact_select_about_wrap {
      justify-content: space-between; } }

.contact_select_service_wrap {
  display: flex; }

.contact_select_service_box:last-child {
  margin-left: 40px; }

/*# sourceMappingURL=contact.css.map */
