.meetingroom_main {
  background: url(../img/meetingroom/bg_meetingroom_main.jpg) center center no-repeat no-repeat;
  background-size: cover; }
  @media (max-width: 767px) {
    .meetingroom_main h2 {
      font-size: 36px; } }

.meetingroom_operation_wrap {
  background-color: #eeeeee; }
  @media (min-width: 768px) {
    .meetingroom_operation_wrap {
      margin: 0 -32px;
      padding: 0 32px 100px;
      overflow: hidden; }
      .meetingroom_operation_wrap h2 {
        padding: 60px 0; } }
  @media (max-width: 767px) {
    .meetingroom_operation_wrap {
      margin: 0 -16px;
      padding: 0 16px 60px; }
      .meetingroom_operation_wrap h2 {
        padding: 32px 0; } }

.meetingroom_operation_arrow_wrap {
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .meetingroom_operation_arrow_wrap {
      max-width: 1068px;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .meetingroom_operation_arrow_wrap {
      flex-direction: column; } }

@media (min-width: 768px) {
  .meetingroom_operation_arrow:first-child {
    position: relative;
    background: #564536;
    display: flex;
    align-items: center; }
    .meetingroom_operation_arrow:first-child:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      z-index: 1; }
    .meetingroom_operation_arrow:first-child .meetingroom_operation_number {
      color: #564536;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .meetingroom_operation_arrow:first-child .meetingroom_operation_description {
      color: #ffffff; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .meetingroom_operation_arrow:first-child {
      justify-content: center;
      height: 88px;
      width: 32%; }
      .meetingroom_operation_arrow:first-child:after {
        left: 100%;
        top: 50%;
        border-left-color: #564536;
        border-width: 44px;
        margin-top: -44px; }
      .meetingroom_operation_arrow:first-child .meetingroom_operation_number {
        font-size: 40px;
        width: 48px;
        height: 48px;
        margin-right: 16px; }
      .meetingroom_operation_arrow:first-child .meetingroom_operation_description {
        font-size: 28px; } }
  @media (min-width: 768px) and (max-width: 767px) {
    .meetingroom_operation_arrow:first-child {
      padding: 16px;
      width: 100%; }
      .meetingroom_operation_arrow:first-child:after {
        top: 98%;
        left: 7%;
        border-top-color: #564536;
        border-width: 12px;
        margin-left: -12px; }
      .meetingroom_operation_arrow:first-child .meetingroom_operation_number {
        font-size: 14px;
        width: 20px;
        height: 20px;
        margin-right: 8px; }
      .meetingroom_operation_arrow:first-child .meetingroom_operation_description {
        font-size: 20px; } }
@media (min-width: 768px) {
  .meetingroom_operation_arrow:nth-child(2) {
    position: relative;
    background: #9d6d42;
    display: flex;
    align-items: center; }
    .meetingroom_operation_arrow:nth-child(2):after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      z-index: 1; }
    .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_number {
      color: #9d6d42;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_description {
      color: #ffffff; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .meetingroom_operation_arrow:nth-child(2) {
      justify-content: center;
      height: 88px;
      width: 32%; }
      .meetingroom_operation_arrow:nth-child(2):after {
        left: 100%;
        top: 50%;
        border-left-color: #9d6d42;
        border-width: 44px;
        margin-top: -44px; }
      .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_number {
        font-size: 40px;
        width: 48px;
        height: 48px;
        margin-right: 16px; }
      .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_description {
        font-size: 28px; } }
  @media (min-width: 768px) and (max-width: 767px) {
    .meetingroom_operation_arrow:nth-child(2) {
      padding: 16px;
      width: 100%; }
      .meetingroom_operation_arrow:nth-child(2):after {
        top: 98%;
        left: 7%;
        border-top-color: #9d6d42;
        border-width: 12px;
        margin-left: -12px; }
      .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_number {
        font-size: 14px;
        width: 20px;
        height: 20px;
        margin-right: 8px; }
      .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_description {
        font-size: 20px; } }
@media (min-width: 768px) {
    .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_description {
      font-size: 28px;
      line-height: 1.2; }
  .meetingroom_operation_arrow:last-child {
    position: relative;
    background: #c27d3f;
    display: flex;
    align-items: center; }
    .meetingroom_operation_arrow:last-child:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      z-index: 1; }
    .meetingroom_operation_arrow:last-child .meetingroom_operation_number {
      color: #c27d3f;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .meetingroom_operation_arrow:last-child .meetingroom_operation_description {
      color: #ffffff; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .meetingroom_operation_arrow:last-child {
      justify-content: center;
      height: 88px;
      width: 32%; }
      .meetingroom_operation_arrow:last-child:after {
        left: 100%;
        top: 50%;
        border-left-color: #c27d3f;
        border-width: 44px;
        margin-top: -44px; }
      .meetingroom_operation_arrow:last-child .meetingroom_operation_number {
        font-size: 40px;
        width: 48px;
        height: 48px;
        margin-right: 16px; }
      .meetingroom_operation_arrow:last-child .meetingroom_operation_description {
        font-size: 28px; } }
  @media (min-width: 768px) and (max-width: 767px) {
    .meetingroom_operation_arrow:last-child {
      padding: 16px;
      width: 100%; }
      .meetingroom_operation_arrow:last-child:after {
        top: 98%;
        left: 7%;
        border-top-color: #c27d3f;
        border-width: 12px;
        margin-left: -12px; }
      .meetingroom_operation_arrow:last-child .meetingroom_operation_number {
        font-size: 14px;
        width: 20px;
        height: 20px;
        margin-right: 8px; }
      .meetingroom_operation_arrow:last-child .meetingroom_operation_description {
        font-size: 20px; } }
@media (min-width: 768px) {
    .meetingroom_operation_arrow:last-child .meetingroom_operation_number {
      margin-left: 48px; } }
@media (max-width: 767px) {
  .meetingroom_operation_arrow:first-child {
    position: relative;
    background: #564536;
    display: flex;
    align-items: center; }
    .meetingroom_operation_arrow:first-child:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      z-index: 1; }
    .meetingroom_operation_arrow:first-child .meetingroom_operation_number {
      color: #564536;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .meetingroom_operation_arrow:first-child .meetingroom_operation_description {
      color: #ffffff; } }
  @media (max-width: 767px) and (min-width: 768px) {
    .meetingroom_operation_arrow:first-child {
      justify-content: center;
      height: 88px;
      width: 32%; }
      .meetingroom_operation_arrow:first-child:after {
        left: 100%;
        top: 50%;
        border-left-color: #564536;
        border-width: 44px;
        margin-top: -44px; }
      .meetingroom_operation_arrow:first-child .meetingroom_operation_number {
        font-size: 40px;
        width: 48px;
        height: 48px;
        margin-right: 16px; }
      .meetingroom_operation_arrow:first-child .meetingroom_operation_description {
        font-size: 28px; } }
  @media (max-width: 767px) and (max-width: 767px) {
    .meetingroom_operation_arrow:first-child {
      padding: 16px;
      width: 100%; }
      .meetingroom_operation_arrow:first-child:after {
        top: 98%;
        left: 7%;
        border-top-color: #564536;
        border-width: 12px;
        margin-left: -12px; }
      .meetingroom_operation_arrow:first-child .meetingroom_operation_number {
        font-size: 14px;
        width: 20px;
        height: 20px;
        margin-right: 8px; }
      .meetingroom_operation_arrow:first-child .meetingroom_operation_description {
        font-size: 20px; } }
@media (max-width: 767px) {
  .meetingroom_operation_arrow:nth-child(2) {
    position: relative;
    background: #9d6d42;
    display: flex;
    align-items: center; }
    .meetingroom_operation_arrow:nth-child(2):after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      z-index: 1; }
    .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_number {
      color: #9d6d42;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_description {
      color: #ffffff; } }
  @media (max-width: 767px) and (min-width: 768px) {
    .meetingroom_operation_arrow:nth-child(2) {
      justify-content: center;
      height: 88px;
      width: 32%; }
      .meetingroom_operation_arrow:nth-child(2):after {
        left: 100%;
        top: 50%;
        border-left-color: #9d6d42;
        border-width: 44px;
        margin-top: -44px; }
      .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_number {
        font-size: 40px;
        width: 48px;
        height: 48px;
        margin-right: 16px; }
      .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_description {
        font-size: 28px; } }
  @media (max-width: 767px) and (max-width: 767px) {
    .meetingroom_operation_arrow:nth-child(2) {
      padding: 16px;
      width: 100%; }
      .meetingroom_operation_arrow:nth-child(2):after {
        top: 98%;
        left: 7%;
        border-top-color: #9d6d42;
        border-width: 12px;
        margin-left: -12px; }
      .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_number {
        font-size: 14px;
        width: 20px;
        height: 20px;
        margin-right: 8px; }
      .meetingroom_operation_arrow:nth-child(2) .meetingroom_operation_description {
        font-size: 20px; } }
@media (max-width: 767px) {
  .meetingroom_operation_arrow:last-child {
    position: relative;
    background: #c27d3f;
    display: flex;
    align-items: center; }
    .meetingroom_operation_arrow:last-child:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      z-index: 1; }
    .meetingroom_operation_arrow:last-child .meetingroom_operation_number {
      color: #c27d3f;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center; }
    .meetingroom_operation_arrow:last-child .meetingroom_operation_description {
      color: #ffffff; } }
  @media (max-width: 767px) and (min-width: 768px) {
    .meetingroom_operation_arrow:last-child {
      justify-content: center;
      height: 88px;
      width: 32%; }
      .meetingroom_operation_arrow:last-child:after {
        left: 100%;
        top: 50%;
        border-left-color: #c27d3f;
        border-width: 44px;
        margin-top: -44px; }
      .meetingroom_operation_arrow:last-child .meetingroom_operation_number {
        font-size: 40px;
        width: 48px;
        height: 48px;
        margin-right: 16px; }
      .meetingroom_operation_arrow:last-child .meetingroom_operation_description {
        font-size: 28px; } }
  @media (max-width: 767px) and (max-width: 767px) {
    .meetingroom_operation_arrow:last-child {
      padding: 16px;
      width: 100%; }
      .meetingroom_operation_arrow:last-child:after {
        top: 98%;
        left: 7%;
        border-top-color: #c27d3f;
        border-width: 12px;
        margin-left: -12px; }
      .meetingroom_operation_arrow:last-child .meetingroom_operation_number {
        font-size: 14px;
        width: 20px;
        height: 20px;
        margin-right: 8px; }
      .meetingroom_operation_arrow:last-child .meetingroom_operation_description {
        font-size: 20px; } }
@media (max-width: 767px) {
    .meetingroom_operation_arrow:last-child:after {
      display: none; } }

@media (min-width: 768px) {
  .meetingroom_staff_wrap {
    max-width: 1068px;
    margin: 0 auto; } }
.meetingroom_staff_wrap h3 {
  text-align: center; }

.meetingroom_staff_list_wrap {
  margin: 0 -15px; }
  @media (min-width: 768px) {
    .meetingroom_staff_list_wrap:not(:nth-of-type(1)) {
      margin-top: 100px; } }
  @media (max-width: 767px) {
    .meetingroom_staff_list_wrap {
      margin-bottom: 32px; }
      .meetingroom_staff_list_wrap:last-child {
        margin-bottom: 0; } }
  @media (max-width: 767px) {
    .meetingroom_staff_list_wrap .meetingroom_staff_item {
      margin-bottom: 32px; }
      .meetingroom_staff_list_wrap .meetingroom_staff_item:last-of-type {
        margin-bottom: 0; } }

.meetingroom_staff_image img {
  width: 100%; }

.meetingroom_staff_name {
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .meetingroom_staff_name {
      font-size: 32px;
      margin-top: 24px; }
      .meetingroom_staff_name .meetingroom_staff_phonetic {
        font-size: 16px;
        margin-left: 12px; } }
  @media (max-width: 767px) {
    .meetingroom_staff_name {
      font-size: 24px;
      margin-top: 12px; }
      .meetingroom_staff_name .meetingroom_staff_phonetic {
        font-size: 12px;
        margin-left: 8px; } }

.meetingroom_staff_url {
  color: #c27d3f;
  font-size: 14px; }
  .meetingroom_staff_url:hover {
    color: #c27d3f; }

/*# sourceMappingURL=meetingroom.css.map */
