<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JAPAN WORK functions</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <!-- /all in one seo pack -->
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/www.matchingood.co.jp\/wp\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.3" } };
        !function (a, b, c) { function d(a) { var b, c, d, e, f = String.fromCharCode; if (!k || !k.fillText) return !1; switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) { case "flag": return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c); case "emoji4": return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e }return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d"); for (i = Array("flag", "emoji4"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-pagenavi-css' href='~/Content/plugins/wp-pagenavi/pagenavi-css.css' type='text/css' media='all' />

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-migrate.min.js"></script>
    <link rel="shortcut icon" href="~/Content/img/common/favicon.png" />
    <link rel="icon" href="~/Content/img/common/favicon.png" />
    <link href="~/Content/css/reset.css?v=1527269583" rel="stylesheet" media="screen">
    <link href="~/Content/themes/lib/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/common.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/top.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/system_top.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/features.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/function.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/contact.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/case.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/company.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/meetingroom.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/news.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/policy.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/to_top_message.css?v=1527269583" rel="stylesheet">
    <link href="~/Content/css/price.css?v=1527269583" rel="stylesheet">
    <script src="~/Content/js/jquery.min.js"></script>
    <link href="~/Content/css/top.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .header_navi .global_navi > li > a:hover {
            color: #fff !important;
            text-decoration: none;
            /*font-weight: bold;*/
        }

        .header_navi .global_navi > li .dropdown > .dropdown-toggle:hover {
            color: #fff !important;
            text-decoration: none;
            /*font-weight: bold;*/
        }

        .dropdown-menu {
            background-color: rgb(206, 206, 206) !important;
            color: rgb(51, 51, 51) !important;
            top: 18px !important;
        }

            .dropdown-menu a {
                color: #333 !important;
            }

        .button_page_top {
            width: 45px;
            height: 43px;
            font-size: 24px;
            border: 1px solid;
            right: 54px;
            top: 90%;
            display: none;
        }

        .active-scroll {
            display: block !important;
        }
    </style>
</head>
<body id="top">
    <!-- End Google Tag Manager (noscript) -->
    <div class="container container_wrap">
        <header class="cb-header">
            <div class="inner_header">
                <div class="logo_wrap">
                    <a href="/introduce">
                        <img src="https://japan-work.vn/Content/images/job_market-dark.png" style="object-fit:contain;width:90%">
                    </a>
                </div>
                <nav class="header_navi">
                    <ul class="global_navi">
                        <li class="global_navi_function">
                            <a href="/introduce">システムの紹介</a>
                        </li>
                        @*<li class="global_navi_features">
                                <a href="installation-plan">プランの紹介</a>
                            </li>*@
                        <li class="global_navi_price">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">プランの紹介</a>
                                <div class="dropdown-menu">
                                    <a href="/cloud-plan" class="dropdown-item">JAPAN WORK登録</a>
                                    <a href="/installation-plan" class="dropdown-item">自社オリジナルシステム導入</a>
                                </div>
                            </div>
                        </li>
                        @*<li class="global_navi_features">
                                <a href="cloud-plan">JAPAN WORK登録</a>
                            </li>
                            <li class="global_navi_features">
                                <a href="installation-plan">自社オリジナルシステム導入</a>
                            </li>*@
                        <li class="global_navi_funclist">
                            <a href="/candidates">機能の紹介</a>
                        </li>
                    </ul>
                </nav>
                <div class="header_inquiry_wrap">
                    <div style="
                            display: block;
                            padding: 0 8px;
                            margin-top: 20px;
                        ">
                        <a href="https://agency.japan-work.vn/agency/register" style="color: #fff;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">会員登録</font></font></font></font></font></font></a>
                    </div>
                    <div class="header_tel_wrap">
                        <img src="~/Content/img/icon/tel_white.png" alt="電話">
                        <div>
                            <span class="header_tel" style="font-size: 14px;">
                                070-1515-9666
                            </span>
                            <span class="header_business_hours">
                                (10:00〜17:00 土日祝休)
                            </span>
                        </div>
                    </div>
                    @*<a class="header_inquiry" href="../../contact/indexc67e.html?about=contact">
            <img src="~/Content/img/icon/mail_white.png" alt="">
            <div class="header_button_label_word_wrap">
                <span class="header_button_label_green">無料</span>
                <span class="header_button_word">問い合わせ</span>
            </div>
        </a>
        <a class="header_document_request" href="../../contact/index2580.html?about=document">
            <img src="~/Content/img/icon/folder_white.png" alt="">
            <div class="header_button_label_word_wrap">
                <span class="header_button_label_yellow">無料</span>
                <span class="header_button_word">資料請求</span>
            </div>
        </a>*@
                </div>
            </div>
        </header>

        <div class="content_wrap">
            <nav class="side_navi_function">

                <ul>
                    <li class="function_menu_box_title_basic">基本機能</li>
                    <li>
                        <a href="/candidates">
                            求職者管理
                        </a>
                    </li>
                    <li>
                        <a href="/company">
                            会社情報管理
                        </a>
                    </li>
                    <li>
                        <a href="/staff">
                            会社担当者管理
                        </a>
                    </li>
                    <li>
                        <a href="/job">
                            求人案件管理
                        </a>
                    </li>
                    <li>
                        <a href="/apply">
                            進捗管理
                        </a>
                    </li>
                    <li>
                        <a href="/matching">
                            マッチング
                        </a>
                    </li>
                    <li>
                        <a href="/schedule">
                            スケジュール
                        </a>
                    </li>
                    <li>
                        <a href="/data-option">
                            データ集計
                        </a>
                    </li>
                @* <li>
                        <a href="/task">
                            タスク管理
                        </a>
                    </li>
                    <li>
                    <a href="/file">
                        帳票出力
                    </a>
                    </li>
                    <li>
                        <a href="/data">
                            データ集計
                        </a>
                    </li>*@
                </ul>
                <ul>
                    <li class="function_menu_box_title_option">オプション</li>

                    <li>
                        <a href="/candidates-option">
                            求職者管理
                        </a>
                    </li>
                    <li>
                        <a href="/invoice">
                            請求書発行
                        </a>
                    </li>
                    @*<li>
                        <a href="/hp">
                            ホームページ連携
                        </a>
                    </li>
                    <li>
                        <a href="/map">
                            地図機能
                        </a>
                    </li>*@
                    <li>
                        <a href="/sms">
                            SMS送信
                        </a>
                    </li>
                    @*<li>
            <a href="/fax">
                FAX送信
            </a>
        </li> --!>*@
                    <li>
                        <a href="/facebook">
                            FACEBOOK連携
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="main_content row">
                @RenderBody()
            </div>
        </div>
        @*<div class="fixed_contact_button_box d-md-none">
                <a href="../../contact/indexc67e.html?about=contact" class="button_green">
                    <img src="~/Content/img/icon/mail_white.png" />
                    問い合わせ
                </a>
                <a href="tel:070-1515-9666" class="button_orange">
                    <img src="~/Content/img/icon/tel_white.png" class="icon_tel" />
                    電話をする
                </a>
            </div>*@
        <div class="footer_site_link_wrap">
            <div class="footer_site_link_item">
                <a href="#top" class="button_page_top">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <script src="~/Content/js/common/accordion.js"></script>
    <script src="~/Content/js/common/accordion.js?v=1527269583"></script>
    <script src="~/Content/js/common/header_operate.js?v=1527269583"></script>
    <script src="~/Content/js/common/jquery.cbslideheader.js?v=1527269583"></script>
    <script src="~/Content/js/common/ellipsis.js?v=1527269583"></script>
    <script src="~/Content/js/top/top_download.js?v=1527269583"></script>
    <script src="~/Content/js/common/footer_pagetop.js?v=1527269583"></script>
    <script src="~/Content/js/company/company_map.js?v=1527269583"></script>
    <script src="~/Content/js/case/case_menu.js?v=1527269583"></script>
    <script>
        $(document).ready(function () {
            $(".side_navi_function").find("li").each(function () {
                if ($(this).find("a").attr("href") == window.location.pathname) {
                    $(this).addClass("side_navi_current");
                }
            });
            $(window).scroll(function () {
                $(".button_page_top").addClass("active-scroll");
            });
            $(document).on("click", ".button_page_top", function () {
                $(".button_page_top").removeClass("active-scroll");
            })
        })
    </script>
</body>
</html>
