@using Halo.Attributes

@{
    ViewBag.Title = "Offline";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Our site is not currently available.</h2>
            <h3>@OfflineHelper.OfflineData.Message</h3>
        </div>
    </div>
</div>