<connectionStrings>
  <!--<add name="DefaultConnection" providerName="System.Data.SqlClient"
    connectionString="Data Source=192.168.1.135;Min Pool Size=5;Max Pool Size=200;Initial Catalog=job_market_admin;Integrated Security=False;User Id=sa;Password=Abcd@1234;MultipleActiveResultSets=True" />

  <add name="JobMarketConnection" providerName="System.Data.SqlClient"
    connectionString="Data Source=192.168.1.135;Min Pool Size=5;Max Pool Size=200;Initial Catalog=job_market;Integrated Security=False;User Id=sa;Password=Abcd@1234;MultipleActiveResultSets=True" />

  <add name="MessengerConnection" providerName="System.Data.SqlClient"
   connectionString="Data Source=192.168.1.135;Min Pool Size=5;Max Pool Size=200;Initial Catalog=messenger;Integrated Security=False;User Id=sa;Password=Abcd@1234;MultipleActiveResultSets=True" />-->

  <add name="DefaultConnection" providerName="System.Data.SqlClient"
   connectionString="Data Source=45.32.51.235;Min Pool Size=5;Max Pool Size=200;Initial Catalog=job_market_agency;Integrated Security=False;User Id=sa;Password=Abcd@1234;MultipleActiveResultSets=True" />

  <add name="JobMarketConnection" providerName="System.Data.SqlClient"
    connectionString="Data Source=45.32.51.235;Min Pool Size=5;Max Pool Size=200;Initial Catalog=job_market;Integrated Security=False;User Id=sa;Password=Abcd@1234;MultipleActiveResultSets=True" />
</connectionStrings>
