<br />
<br />
<div>
    <pre>
    <code>
            <b>Link: http://192.168.2.25:8080/api/user/logout </b>
            
            Json data:
            {
	            "UserId": "0066f16f-ea89-4130-a4cf-04fcf6286976",
	            "Time": "20170803084315",
	            "Token": "13362f7b7a7add622503efa1a8f8b138"
            }            

            **Note:  
                + Your time could not be less than 24 hours (Compare with current datetime)
        _____________________________________________________________________________________
    </code>
    </pre>
</div>